.fb-like span iframe {
	margin-top: 8px;
}
.goog-te-banner-frame.skiptranslate {
	display: none;
}
#fixNav {
	display: block;
	position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
	bottom: 20px; /*Nằm trên cùng*/
	left: 20px; /*Nằm sát bên trái*/
	z-index: 100000; /*Hiển thị lớp trên cùng*/
}
/*-----------------------------------------------------*/
.img-magnifier-container {
	position: relative;
}

.img-magnifier-glass {
	position: absolute;
	border: 3px solid #000;
	border-radius: 50%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 15%;
	height: 15%;
}
#content h1 {
	font-family: "Questrial", Verdana, sans-serif;
	text-align: center;
	font-size: 40px;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	color: #8c8c8c;
}
#content form{
	margin:0% 5%

}
	/** have a nice ampersand **/
#content h1:after {
	font-size: 25px;
	color: #d6cfcb;
	content: "&";
	text-align: center;
	display: block;
	width: 100%;
	font-family: "Alice", Verdana, serif;
	text-shadow: 0px 1px 0px #fff;
}
	/** create the gradient bottom **/
	#content h1:before {
		position: absolute;
		bottom: 15px;
		content: " ";
		text-align: center;
		display: block;
		height: 2px;
		width: 100%;
		background: -moz-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100% );
		/* FF3.6+ */
		background: -webkit-gradient( linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(182, 180, 180, 0.7)), color-stop(43%, rgba(180, 178, 178, 0)), color-stop(50%, rgba(168, 166, 166, 0)), color-stop(57%, rgba(180, 178, 178, 0)), color-stop(58%, rgba(182, 180, 180, 0.7)), color-stop(90%, rgba(238, 237, 237, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)) );
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100% );
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100% );
		/* Opera 11.10+ */
		/* IE10+ */
		background: linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100% );
		/* W3C */
	}
#content {
	position: relative;
	width: 100%;
	z-index: 1	;
	padding: 3%;
	border: 1px solid #383838;
	/* My stipped background */
	background: #d1d1d1;
	/* Old browsers */
	background: -moz-repeating-linear-gradient( -45deg, #efc1cb, #efc1cb 30px, #f2f2f2 30px, #f2f2f2 40px, #c2e8f5 40px, #c2e8f5 70px, #f2f2f2 70px, #f2f2f2 80px );
	/* FF3.6+ */
	background: -webkit-repeating-linear-gradient( -45deg, #efc1cb, #efc1cb 30px, #f2f2f2 30px, #f2f2f2 40px, #c2e8f5 40px, #c2e8f5 70px, #f2f2f2 70px, #f2f2f2 80px );
	/* FF3.6+ */
	background: -o-repeating-linear-gradient( -45deg, #efc1cb, #efc1cb 30px, #f2f2f2 30px, #f2f2f2 40px, #c2e8f5 40px, #c2e8f5 70px, #f2f2f2 70px, #f2f2f2 80px );
	/* FF3.6+ */
	background: repeating-linear-gradient( -45deg, #efc1cb, #efc1cb 30px, #f2f2f2 30px, #f2f2f2 40px, #c2e8f5 40px, #c2e8f5 70px, #f2f2f2 70px, #f2f2f2 80px );
	/* FF3.6+ */
	/*border-radius*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/*box-shadow*/
	-webkit-box-shadow: 0px 1px 6px #3f3f3f;
	-moz-box-shadow: 0px 1px 6px #3f3f3f;
	box-shadow: 0px 1px 6px #3f3f3f;
}
	#content:after {
		background: #f9f9f9;
		margin: 10px;
		position: absolute;
		content: " ";
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		border: 1px #e5e5e5 solid;
		/*border-radius*/
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
input:required{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input:not([type="submit"]) {
	outline: none;
	display: block;
	width: 100%;	
	border: 1px dashed #dbdbdb;
	color: #3f3f3f;
	font-family: "Droid Sans", Tahoma, Arial, Verdana sans-serif;
	font-size: 14px;
	/*border-radius*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*transition*/
	-webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
	-moz-transition: background 0.2s linear, box-shadow 0.6s linear;
	-o-transition: background 0.2s linear, box-shadow 0.6s linear;
	transition: background 0.2s linear, box-shadow 0.6s linear;
}
	input:not([type="submit"]):active,
	input:not([type="submit"]):focus {
		background: #f7f7f7;
		border: dashed 1px #969696;
		/*box-shadow*/
		-webkit-box-shadow: 2px 2px 7px #e8e8e8 inset;
		-moz-box-shadow: 2px 2px 7px #e8e8e8 inset;
		box-shadow: 2px 2px 7px #e8e8e8 inset;
	}

/* placeholder */
::-webkit-input-placeholder {
	color: #bababa;
	font-style: italic;
}

input:-moz-placeholder {
	color: #bababa;
	font-style: italic;
}
.required {
	color: #e5224c;
}
input[type="submit"] {
	margin: 0% 25% 5%;
	cursor: pointer;
	background: none;
	border: none;
	font-family: "Alice", serif;
	color: #767676;
	border: 1px solid #e0e0e0;
	text-shadow: 0px 1px 1px #e8e8e8;
	background: rgb(247, 247, 247);
	background: -moz-linear-gradient( top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(1%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(242, 242, 242, 1)) );
	background: -webkit-linear-gradient( top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100% );
	background: -o-linear-gradient( top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100% );
	background: linear-gradient( top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100% );
	/*border-radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*box-shadow*/
	-webkit-box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #eaeaea;
	-moz-box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #eaeaea;
	box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #eaeaea;
	/*transition*/
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

	input[type="submit"]:hover {
		color: #686868;
		border-color: #cecece;
		background: rgb(244, 244, 244);
		background: -moz-linear-gradient( top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(100%, rgba(242, 242, 242, 1)) );
		background: -webkit-linear-gradient( top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: -o-linear-gradient( top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: linear-gradient( top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100% );
		/*box-shadow*/
		-webkit-box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
		-moz-box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
		box-shadow: 0px 1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
	}

	input[type="submit"]:active,
	input[type="submit"]:focus {
		position: relative;
		top: 1px;
		color: #515151;
		background: rgb(234, 234, 234);
		background: -moz-linear-gradient( top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, rgba(234, 234, 234, 1)), color-stop(100%, rgba(242, 242, 242, 1)) );
		background: -webkit-linear-gradient( top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: -o-linear-gradient( top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100% );
		background: linear-gradient( top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100% );
		/*box-shadow*/
		-webkit-box-shadow: 0px -1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
		-moz-box-shadow: 0px -1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
		box-shadow: 0px -1px 1px #fff inset, 0 0 0px 5px #e0e0e0;
	}
.contact .contactform{
	padding:10%;
}

.contact .contactdec {
	padding: 0% 10%;
}
	.contact .contactdec .contacttt {
		margin-top: 33%;

	}
	.contact .contactdec h1 {
		text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
	}
		.contactbt a {
			position: relative;
			display: inline-block;
			padding: 25px 30px;
			margin: 21% 30% 0% 10%;
			color: #661717;
			text-decoration: none;
			text-transform: uppercase;
			transition: 0.5s;
			letter-spacing: 4px;
			overflow: hidden;
			margin-right: 50px;
		}

	.contactbt a:hover {
		background: #0095ff;
		color: #000;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
		-webkit-box-reflect: below 1px linear-gradient(transparent, #03e9f4);
	}

	.contactbt a:nth-child(1) {
		filter: hue-rotate(3deg);
	}

	.contactbt a:nth-child(2) {
		filter: hue-rotate(110deg);
	}

	.contactbt a span {
		position: absolute;
		display: block;
	}

		.contactbt a span:nth-child(1) {
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: linear-gradient(90deg,transparent,#661717);
			animation: animate1 1s linear infinite;
		}

@keyframes animate1 {
	0% {
		left: -100%;
	}

	50%,100% {
		left: 100%;
	}
}

.contactbt a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 {
	0% {
		top: -100%;
	}

	50%,100% {
		top: 100%;
	}
}

.contactbt a span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#f40303);
	animation: animate3 1s linear infinite;
	animation-delay: 0.50s;
}

@keyframes animate3 {
	0% {
		right: -100%;
	}

	50%,100% {
		right: 100%;
	}
}


.contactbt a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4 {
	0% {
		bottom: -100%;
	}

	50%,100% {
		bottom: 100%;
	}
}
/*----------------------------------------------------------------*/
.nav-wp .h-search-wp .search-bl .dropdown-menu button
{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0;
    width: 40px;
    text-align: center;
    border: 0;
    background: transparent;
    color: #555;
    cursor: pointer;
}
.product-detail-tab .tab-content .tab-info table
{
    border-collapse: collapse;
}
.product-detail-tab .tab-content .tab-info table
{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.product-detail-tab .tab-content .tab-info table td, .product-detail-tab .tab-content .tab-info table th
{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.product-detail-tab .tab-content .tab-info table thead th
{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.product-detail-tab .tab-content .tab-info table tbody + tbody
{
    border-top: 2px solid #dee2e6;
}
.product-detail-tab .tab-content .tab-info table
{
    background-color: #fff;
}
.product-detail-tab .tab-content .tab-info table
{
    border: 1px solid #dee2e6;
}
.product-detail-tab .tab-content .tab-info table td, .product-detail-tab .tab-content .tab-info table th
{
    border: 1px solid #dee2e6;
}
.product-detail-tab .tab-content .tab-info table thead td, .product-detail-tab .tab-content .tab-info table thead th
{
    border-bottom-width: 2px;
}
.product-detail-tab .tab-content .tab-info table tbody tr:nth-of-type(odd)
{
    background-color: rgba(0,0,0,.05);
}
/*slider doi tac*/

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 5));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 5));
	}
}

.slider {

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	overflow: hidden;
	position: relative;
	width: auto
	;
}

	.slider::before, .slider::after {
		background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.slider::before {
		left: 0;
		top: 0;
	}

	.slider .slide-track {
		-webkit-animation: scroll 40s linear infinite;
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slider .slide {
		height: 100px;
		width: 250px;
	}
/*	==========================================================*/
.solution img {
	width: 100%;
	height: 100%;
}
.solution .form-solution {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 3%;
}
.solution {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	flex-wrap: wrap;
}
.h-addressa img {
	width: 100%;
	height: 100%;
}

.solution .contentsolution {
	font-size: 100%;
}
.Detail-solution img{
	width:100%;
}
.Detail-Name-Solution{
	padding:3%;
}
.Detail-Name-Solution img{
	width:100%;
}
.img-detailsolution{
	text-align:center;
}
	.img-detailsolution b {
		width: 100%;
		font-size: x-large;
	}
	
.textdetailsolution p{
	width:100%;
}
.Detail-Name-Solution p iframe {
	width: 100%;
}
.home-backround {
	background-image: url('../../Images/bokeh_PNG20.png');
}
.home-imageproduct{
	background-color:transparent;
	padding:3%;
	display:block;
}
.image-product {
	border: none;
	position: relative;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	color: inherit;
	letter-spacing: 2px;
	font-size: 1em;
	outline: none;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
	.image-product:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
.perspective {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
	display: inline-block;
}
.image-product-3d:active {
	background: #55b7f3;
}

.image-product-3da:after {
	width: 100%;
	height: 42%;
	left: 0;
	top: -40%;
	background: #53a6d7;
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotateX(90deg);
	-moz-transform-origin: 0% 100%;
	-moz-transform: rotateX(90deg);
	transform-origin: 0% 100%;
	transform: rotateX(90deg);
}

.image-product-3da:hover {
	-webkit-transform: rotateX(-360deg);
	-moz-transform: rotateX(-360deg);
	-ms-transform: rotateX(-360deg);
	transform: rotateX(-360eg);
}
.input-box{
	position:relative;
	padding:3%;
}
	.input-box i {
		position: absolute;
		right: 13px;
		top: 15px;
	}
	/*----------------------menu cate-------------------*/
.menu-categgory {
	overflow: hidden;
	margin:0% 3%;
	display:flex;
	flex-wrap:wrap;
}
	.menu-categgory a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	.menu-categgory a.icon {
		display: none;
	}
.dropdown-category {

	float: left;
	overflow: hidden;
}
	.dropdown-category .dropbtn-category {
		font-size: 16px;
		border: none;
		outline: none;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}
		.dropdown-category .dropbtn-category b {
			text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
		}
		.dropdown-category .dropbtn-category b {
			text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
		}
.dropdown-content-category {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
	.dropdown-content-category a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
		.dropdown-content-category a:hover {
			background-color: #ddd;
			color:black;
			text-decoration:none;
		}

.dropdown-category:hover .dropdown-content-category {
	display: block;
}
.detail-drop {
	float: none;
	text-align: center;
	padding: 1%;
	background-color:white;
}
.button-cate {
	float: none;
	text-align: center;
	padding: 1%;
}
/*--------------------product-img----------------------*/
/*	-----------------------------------------------------*/
.product-container {
	flex: 300px;
	margin: 30px;
}

	.product-container .product- {
		font-weight: bold;
		position: relative;
		width: 100%;
		display:flex;
		flex-wrap:wrap;
	}

		.product-container .product- a {
			width: 27%;
			text-decoration: none;
			color: black;
			display: block;
			transition: 0.25s ease;
			margin: 3% 3%;
		}
			.product-container .product- a .nameh1 {
				text-align: center;
				padding-bottom:1%;
				font-size:150%;
			}
			.product-container .product- a:hover {
				transform: translate(-30px, -30px);
				border-color: #5bc0eb;
			}

				.product-container .product- a:hover .product--display {
					display: none;
				}
				.product-container .product- a:hover .nameh1 {
					display: none;
				}
				.product--display img {
					width:100%;
				}

				.product-container .product- a:hover .product--hover {
					display: block;
				}

				.product-container .product- a .product--hover {
					display: none;
					width: 100%;
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-right: -50%;
					transform: translate(-50%, -50%);
					text-align: center;
				}

				.product-container .product- a .product--hover h2 {
					font-size:100%;
				}

				.product-container .product- a .product--hover p {
					font-weight: normal;
					line-height: 1.5;
				}

					.product-container .product- a .product---hover p.link {
						margin: 20px 0 0;
						font-weight: bold;
						color: #5bc0eb;
					}

		.product-container .product- .product--border {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border: 2px dashed black;
			z-index: -1;
		}

		.product-container .product-product--dark a {
			color: white;
			background-color: black;
			border-color: black;
		}

			.product-container .product-product--dark a .product--hover .link {
				color: #fde74c;
			}
		/*	--------------------------------------------------------*/
		/*	-----------------------------pagemargin------------------------*/
		.pagemg ul{
			margin-left:45%;
		}
		/*	-------------------------detailproduct-------------------------------*/
		.detail-pro{
			margin-bottom:-8%;
			padding:3%;
		}
		.detail-pro img{
			width: 100%;
			height:65%;
		}
	
			.detail-pro ul li {
				padding-bottom: 3%;
			}
.dec-detail-pro ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-style: inset;
	padding: 0% 3%;
}
.dec-detail-pro {
	padding: 3%;
	margin-top:3%;
}
	.dec-detail-pro ul li a h1 {
		font-size: 200%;
		text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
	}
.dec-detail{
}
	.dec-detail .p {
		width: 900px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
.dec-detail-pro ul .active {
	border-bottom: 6px solid #0b2859;
}
	.idname ul li .Name-Product {
	font-size: 300%;
}
.idname ul li h1 {
	display:flex;
	flex-direction:column;
	font-size: 200%;
	text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
}

.MAP{
	display:none;
}
.MAP2 {
	display: none;
}
.contact .contactform .LHVCT {
	text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
}
.video{
	padding:3%;
}
.video video{
	width:100%;
	height:900px;
}
.Content-sv * {
	width:100%;
}
.serviceother {
	text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
	padding-left:10%
}
.nav-nav ul{
	width:150%;
	height:100%;
	background-color:white;
}
.menuct {
	text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
}
#menusanpham i{
	visibility:hidden;
}
/*/----------slide------------*/
#showContainer {
	/* Main wrapper for all images */
	width: 100%;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.navButton:hover {
opacity: 1;
}

.imageContainer img {
	width: 100%;
	-webkit-transition: width 2s;
	transition: width 2s;

}
.imageContainer {
	width: 100%;
	height: 100%;
}
.newsletter-bg input {
	width: 70%;
	margin-left: 15%;
	margin-bottom:2%
}
.newsletter-bg{
	text-align:center;
}
.Out {

	width:0px;
	height:100%
}
.In{
	display:block;
	width:100%;
	height:100%
}

/*	------------------------blogtrangchu--------------------------------*/

.carreaux_presentation_light {
	display: table-cell;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

	.carreaux_presentation_light .shadow_swhow_mini {
		background-color: transparent;
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.carreaux_presentation_light:hover .shadow_swhow_mini {
		background-color: rgba(16, 23, 41, 0);
	}

	.carreaux_presentation_light .deroul_titre {
		position: absolute;
		text-transform: uppercase;
		font-family: "Roboto";
		padding: 7px;
		z-index: 1000;
		top: 60%;
		left: -80%;
		color: #ffffff;
		font-weight: 300;
		font-size: 13px;
		width: 80%;
		-webkit-transition: all 0.7s;
		-moz-transition: all 0.7s;
		transition: all 0.7s;
	}

	.carreaux_presentation_light:hover .deroul_titre {
		background-color: #ff5454;
		left: 0px;
	}
	.Look{
		background-color:white;
		width:500px;
	}
	.Look img{
		width:50px;
	}

/*	--------------------------------------------------------*/
@media only screen and (max-width: 1350px) {
	.contact .contactform .LHVCT {
		font-size: 180%;
		text-shadow: 0px 0px 0px #ff2c2c, 0 0 5px #0095ff;
	}
}
@media only screen and (max-width: 1000px) {
	.dropdown-category .dropbtn-category {
		display: none;
	}

	.product-container .product- a .nameh1 {
		font-size: 113%;
	}

	.menu-categgory a.icon {
		float: right;
		display: block;
		color: black;
		text-decoration: none;
	}

	.dec-detail .p {
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.menu-categgory.responsive {
		position: relative;
	}

		.menu-categgory.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		}

		.menu-categgory.responsive a {
			float: none;
			display: block;
			text-align: left;
		}

		.menu-categgory.responsive .dropdown-category {
			float: none;
		}

		.menu-categgory.responsive .dropdown-content-category {
			position: relative;
		}

		.menu-categgory.responsive .dropdown-category .dropbtn-category {
			display: block;
			width: 100%;
			text-align: left;
		}

	.pagemg ul {
		margin-left: 40%;
		font-size: 80%;
	}

	.dec-detail-pro ul li a h1 {
		font-size: 250%;
	}

	.idname ul li h1 {
		font-size: 200%;
	}

	.img-magnifier-glass {
		display: none
	}

	.detail-pro img {
		width: 100%;
	}

	.contactbt a {
		position: relative;
		display: inline-block;
		margin: 10% 0% 0% 10%;
		color: #661717;
		text-decoration: none;
		text-transform: uppercase;
		transition: 0.5s;
		letter-spacing: 4px;
		overflow: hidden;
		margin-right: 50px;
	}

	.contact .contactform {
		padding: 10%;
		width: 120%;
	}

	.contact .contactdec {
		padding: 0% 10%;
	}

		.contact .contactdec .contacttt {
			margin-top: 33%
		}

		.contact .contactdec h1 {
			font-size: 150%
		}

		.contact .contactdec p {
			font-size: 80%
		}

	.contact .contactform .LHVCT {
		font-size: 150%
	}
	.video video {
		height: 700px;
	}
}

	@media only screen and (max-width: 850px) {
		.product-container .product- a .nameh1 {
			font-size: 100%;
		}

		.pagemg ul {
			font-size: 70%;
		}

		.img-detailsolution h1 {
			font-size: 170%;
		}

		.dec-detail-pro ul li a h1 {
			font-size: 150%;
		}

		.idname ul li .Name-Product {
			font-size: 180%;
		}

		.idname ul li h1 {
			font-size: 170%;
		}
		.img-magnifier-glass{
			display:none
		}
		.detail-pro img {
			width: 100%;
		}
		.contact .contactform {
			padding: 10%;
			width: 140%;
		}

		.contact .contactdec {
			padding: 0% 7%;
		}

			.contact .contactdec .contacttt {
				margin-top: 27%
			}

			.contact .contactdec h1 {
				font-size: 150%
			}

			.contact .contactdec p {
				font-size: 80%
			}
		.contact .contactform .LHVCT {
			font-size: 140%
		}
	}

	@media only screen and (max-width: 675px) {
		.product-container .product- a .nameh1 {
			font-size: 75%;
		}

		.solution {
			display: flex;
			flex-direction: row;
			align-content: stretch;
			flex-wrap: wrap;
		}

			.solution h1 {
				font-size: 200%;
			}

			.solution .contentsolution {
				font-size: 100%;
			}

		.img-detailsolution b {
			width: 100%;
			font-size: large;
		}

		.Detail-Name-Solution img {
			width: 100%;
		}

		.pagemg ul {
			margin-left: 35%;
			font-size: 50%;
		}

		.dec-detail-pro ul li a h1 {
			font-size: 130%;
		}

		.idname ul li .Name-Product {
			font-size: 140%;
		}

		.idname ul li h1 {
			font-size: 130%;
		}
		.img-magnifier-glass {
			display: none
		}
		.detail-pro img {
			width: 100%;
		}
		.contact .contactform {
			padding: 8%;
			width: 140%;
		}

		.contact .contactdec {
			padding: 0% 7%;
		}

			.contact .contactdec .contacttt {
				margin-top: 21%
			}

			.contact .contactdec h1 {
				font-size: 150%;
				margin-left:10%;
			}

			.contact .contactdec p {
				font-size: 60%;
				margin-left: 10%;
			}
			#content{
				width:140%;
			}
		#modalcontact #content {
			width: 100%;
		}
		.contact .contactform .LHVCT {
			font-size: 120%
		}
		.video video {
			height: 450px;
		}
	}

	@media only screen and (max-width: 576px) {
		.col-sm-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}

		.product-container .product- a .nameh1 {
			font-size: 54%;
		}



		.pagemg ul {
			margin-left: 30%;
			font-size: 40%;
		}

		.img-detailsolution h1 {
			font-size: 140%;
		}

		.dec-detail-pro ul li a h1 {
			font-size: 100%;
		}

		.idname ul li h1 {
			font-size: 170%;
		}

		.idname ul li .Name-Product {
			font-size: 110%;
		}

		.idname ul li h1 {
			font-size: 100%;
		}
		.img-magnifier-glass {
			display: none
		}
		.detail-pro img {
			width: 100%;
		}
		.contactbt a {
			position: relative;
			display: inline-block;
			margin: 10% 0% 0% 10%;
			color: #661717;
			text-decoration: none;
			text-transform: uppercase;
			transition: 0.5s;
			letter-spacing: 4px;
			overflow: hidden;
		}
		.contact .contactform .LHVCT {
			font-size: 110%
		}
		.video video {
			height: 350px;
		}
	}

	@media only screen and (max-width: 440px) {
		.dec-detail-pro ul li a h1 {
			font-size: 85%;
		}

		.idname ul li .Name-Product {
			font-size: 80%;
		}

		.idname ul li h1 {
			font-size: 70%;
		}
		.img-magnifier-glass {
			display: none
		}
		.detail-pro img {
			width: 100%;
		}
		.contact .contactform .LHVCT {
			font-size: 90%
		}
		.video video {
			height: 300px;
		}
	}

	@media only screen and (max-width: 375px) {

		.solution {
			display: flex;
			flex-direction: row;
			align-content: stretch;
			flex-wrap: wrap;
		}

			.solution .form-solution {
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
				padding: 3%;
			}

			.solution img {
				width: 100%;
				height: 100%;
			}

			.solution h1 {
				font-size: 100%;
			}

			.solution .contentsolution {
				font-size: 100%;
			}

		.img-detailsolution b {
			width: 100%;
			font-size: small;
		}

		.Detail-Name-Solution p iframe {
			width: 100%;
			height: 100%;
		}

		.pagemg ul {
			margin-left: 30%;
			font-size: 30%;
		}

		.img-detailsolution h1 {
			font-size: 115%;
		}

		.dec-detail-pro ul li a h1 {
			font-size: 70%;
		}

		.idname ul li .Name-Product {
			font-size: 60%;
		}

		.idname ul li h1 {
			font-size: 50%;
		}
		.img-magnifier-glass {
			display: none
		}
		.detail-pro img {
			width: 100%;
		}
		.contact .contactdec h1 {
			font-size: 100%;
			margin-left: 10%;
		}

		.contact .contactdec p {
			font-size: 50%;
			margin-left: 10%;
		}
		.input-box i{
			top:3px;
		}
		.contact .contactform .LHVCT {
			font-size: 80%
		}
	}

	@media only screen and (max-width: 280px) {

		.product-container .product- a .nameh1 {
			font-size: 40%;
		}

		.pagemg ul {
			margin-left: 25%;
			font-size: 20%;
		}

		.dec-detail-pro ul li a h1 {
			font-size: 60%;
		}

		.idname ul li .Name-Product {
			font-size: 50%;
		}

		.idname ul li h1 {
			font-size: 40%;
		}
		.img-magnifier-glass {
			display: none
		}
		.detail-pro img {
			width: 100%;
		}
	}
