@model ICTS.com.Models.DetailSolution

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="w-hv" class="home-backround">
    <input hidden id="idsolution" value="@Model.IdSolution" />
    <div class="Detail-solution">
        <img src="~/Images/@Model.Image" />
    </div>
    <div class="Detail-Name-Solution">
        <div class="row">
            <div class="col-sm-6 img-detailsolution">
                <input hidden type="text" id="iddetailsolution" value="@Model.IdSolution" />
                <div class="title-big">
                    <h1 id="idname"></h1>
                </div>

                <div id="p"></div>
            </div>

            <div id="imagedetailsolution" class="col-sm-6 img-detailsolution">

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            Facebook();
        })
        $("#w-hv").on("mouseover", function () {
            $('#w-rm table').css("width", "");
        });
        let id = $('#iddetailsolution').val().trim();
        /* ---------solutionview---------------*/
        $.ajax({
            url: '/solutionhome/DetailSolution',
            type: 'get',
            data: {
                id: id
            },
            success: function (data) {
                $('#p').empty();
                $('#idname').empty();
                if (data.code == 200) {
                    $.each(data.left, function (k, v) {
                        let div = '<div>' + v.content + '</div><div style="text-aligt:center"><button class="btn btn-primary" type="button"><a href="/lien-he/" style="color:red">Liên hệ ngay với chúng tôi</a></button></div>';
                        div += '<div class="fb-login-button" data-width="" data-size="small" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true"></div>';
                        div += '<div id="like" class="fb-like" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>';
                        div += ' <div id="share" class="fb-share-button" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>';
                        div += '<div id="comment" class="fb-comments dec-detail-pro" data-width="100%" data-numposts="3"></div>';
                        $('#p').append(div);
                        let h1 = '' + v.name + '';
                        $('#idname').append(h1);
                    });
                } else {
                    alert(data.msg)
                }
            }
        });
        /* ---------solutionkhac---------------*/
        $.ajax({
            url: '/solutionhome/DetailSolutionExcept',
            type: 'get',
            data: {
                id: id
            },
            success: function (data) {
                $('#imagedetailsolution').empty();
                if (data.code == 200) {
                    $.each(data.left, function (k, v) {
                        let h1 = '<div id="' + v.idsolution + '"><a name="a"><img src="/Images/' + v.image + '" /></a></div>';
                        h1 += '<div id="' + v.idsolution + '"><a style="color:black" href="" name="a"><b>' + v.name + ' </b></a></div>';
                        $('#imagedetailsolution').append(h1);
                    });
                } else {
                    alert(data.msg)
                }
            }
        });
        /* ---------addlink---------------*/
        $(document).on('click', "a[name='a']", function () {
            let id = $(this).closest('div').attr('id')
            $.ajax({
                url: '/solutionhome/DetailSolution',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            window.location.href = data.Url + v.meta + "/" + + v.id
                        })

                    }
                }
            })
        })

        //urlsharefacebook
        function Facebook() {
            let id = $('#idsolution').val().trim()
            $.ajax({
                url: '/solutionhome/DetailSolution',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            document.getElementById("like").setAttribute("data-href", data_ICTS + data.Url + v.meta + "/" + v.id);
                            document.getElementById("comment").setAttribute("data-href", data_ICTS + data.Url + v.meta + "/" + v.id);
                            document.getElementById("share").setAttribute("data-href", data_ICTS + data.Url + v.meta + "/" + v.id);

                        })

                    }
                }
            })
        }
    </script>
    }
