@model IEnumerable<ICTS.com.Models.Solution>

@{
    ViewBag.Title = "Giải Pháp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="w-hv" class="home-backround">
    <div id="solutionall" class="solution">

    </div>
</div>

    @section scripts{
        <script>   
            $("#w-hv").on("mouseover", function () {
                $('.contentsolution *').addClass('font');
                $('.contentsolution *').css("font-size", "100%")
                var a = window.matchMedia("(max-width: 1000px)")
                var b = window.matchMedia("(max-width: 850px)")
                var c = window.matchMedia("(max-width: 675px)")
                var d = window.matchMedia("(max-width: 375px)")
                if (a.matches) {
                    $('.contentsolution *').css("font-size", "90%")
                } else if (b.matches) {
                    $('.contentsolution *').css("font-size", "85%")
                }
                else if (c.matches) {
                    $('.contentsolution *').css("font-size", "75%")
                } else if (d.matches) {
                    $('.contentsolution *').css("font-size", "60%")
                }
                           
            });
           /* ---------hienthisolution---------------*/
            $.ajax({
                url: '/solutionhome/Solution',
                type: 'get',
                success: function (data) {
                    $('#solutionall').empty();
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            let div = '<div class="form-solution">';
                            div += '<div ><a id="' + v.id + '" name="bb"><img alt="' + v.title + '" src="/Images/' + v.image + '" /></a></div>';
                            div += '<h1>' + v.name + '</h1>';
                            div += '<div class="contentsolution">' + v.content + '<a style="color:blue" id="' + v.id + '"  name="bb" >  xem thêm...</a></div>';
                            div += '</div>';
                            $('#solutionall').append(div);
                        });
                    } else {
                        alert(data.msg)
                    }
                }
            });
            /* ---------addlink---------------*/
            $(document).on('click', "a[name='bb']", function () {
                let id = $(this).closest('a').attr('id')
                $.ajax({
                    url: '/solutionhome/DetailSolution',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            $.each(data.left, function (k, v) {
                                window.location.href = data.Url + v.meta+"/"+ v.id
                            })
                            
                        }
                    }
                })
            })
           
        </script>
}
