<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @*<meta name="copyright" content="BS4U.VN" />
        <meta name="author" content="BS4U.VN" />*@
    <meta name="web_copy_date" content="&lt;%= DateTime.Now %>" />
    <meta name="expires" content="&lt;%= DateTime.Now.AddYears(10) %>" />
    <meta name="web_content_type" content="Tips" />
    @*<meta name="author" content="BS4U.VN" />
        <meta name="country" content="Viet Nam" />
        <meta name="web_author" content="BS4U.VN" />
        <meta name="reply-to" content="info@bs4u.vn" />*@
    <meta name="robots" content="index, follow" />
    <meta name="resource-type" content="document" />
    <meta name="classification" content="internet" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="safe for kids" />
    <meta name="doc-type" content="public" />
    @*<meta name="Identifier-URL" content="http://www.bs4u.vn/" />*@
    <meta name="subject" content="BS4U, analyzer results - analyze your website" />
    @*<meta name="contactName" content="Do Trung Thanh" />
        <meta name="contactOrganization" content="BS4U" />*@
    <meta name="contactStreetAddress1" content="HCM" />
    <meta name="contactZipcode" content="70000" />
    <meta name="contactCity" content="HCM" />
    <meta name="contactCountry" content="Viet Nam" />
    @*<meta name="contactPhoneNumber" content="+84 908 022 007" />*@
    @*<meta name="contactNetworkAddress" content="thanhdt@bs4u.vn" />*@
    @*<meta name="linkage" content="http://www.bs4u.vn" />*@
    <meta name="Referrer-Policy" content="origin" />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <meta name="description" content="Chúng tôi nhập khẩu các thiết bị mã vạch 100% chính hãng" />
    <meta name="keywords" content="Nhà cung cấp thiết bị mã vạch" />

    <link href="~/Content/css/other.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3/bootstrap-4.1.3/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css" />
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=6vGkxUgcU8JV7xBTXz_BwTpsLqBFztpxWvIBccT8oQZZ1NYcBULQF1DuF-dOlazp" charset="UTF-8"></script>
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MNP92D4');
    </script>
    <title>
        @ViewBag.Title Trang chủ | Ha Phan JSC
    </title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNP92D4" height="0"
                width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div>
        <input type="hidden" name="__CUSTOMVIEWSTATE" id="__CUSTOMVIEWSTATE" value="H4sIAAAAAAAEAPvPyJ/Cz8qta2hoaGRqYWFuapgCAB/uHt4TAAAA" />
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="" />
    </div>
    <div id="showloading">
        <div>
        </div>
        <img src="~/Images/loading.gif" alt="" id="ctl0_loadingImage"
             style="position: absolute; z-index: 110; top: 50%; left: 50%;" />
    </div>
    <div class="header-wp">
        <div class="container">
            <div class="row">
                <div id="logo" class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12 col-12 logo-wp">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="header-top-right">
                        <div id="ttlhkd" class="header-top-flex-l">                         
                        </div>
                        <div id="cskh" class="header-top-flex-r">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-wp">
        <div class="container">
            <div class="main-bar">
                <div class="hot-line hotline-mb">
                    <span>
                        <i>
                            <img src="~/Images/phone2x.png" alt="" />
                        </i>
                        +84 2871099599(CSKH)
                    </span>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li class="icon-home ">
                            <a class="smooth" href="/" title="">
                                <i style="font-size:xx-large" class="fa-solid fa-house"></i>
                            </a>
                        </li>
                        <li>
                            <a class="smooth" href="/AboutUs" title="">
                                Về chúng tôi
                            </a>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="/CategoriesHome/Index" title="">
                                Sản phẩm
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul id="menusanpham">

                            </ul>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="/Solution" title="">
                                Giải pháp
                            </a>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="#" title="">
                                Trung tâm bảo hành
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul>
                                <li>
                                    <a class="smooth" href="/WarrantyCenter" title="">
                                        Trung tâm bảo hành
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth" href="/FAQ" title="">
                                        Câu hỏi thường gặp
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth" href="/Download" title="">
                                        Hỗ trợ download
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-sub">
                            <a class="smooth" href="#" title="">
                                Tin tức
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul>
                                <li>
                                    <a class="smooth" href="/News" title="">
                                        Thị Trường / Sự kiện
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth" href="/Recruitment" title="">
                                        Tuyển dụng
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="smooth" href="/ContactUs" title="">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="h-search-wp">
                <style>
                    .form2 {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        transition: all 1s;
                        width: 50px;
                        height: 50px;
                        background: white;
                        box-sizing: border-box;
                        border-radius: 25px;
                        border: 4px solid white;
                        padding: 5px;
                        border-color: black;
                    }

                    #input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 42.5px;
                        line-height: 30px;
                        outline: 0;
                        border: 0;
                        display: none;
                        font-size: 1em;
                        border-radius: 20px;
                        padding: 0 20px;
                    }

                    #seach {
                        box-sizing: border-box;
                        padding: 10px;
                        width: 42.5px;
                        height: 42.5px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 50%;
                        color: #07051a;
                        text-align: center;
                        font-size: 1.2em;
                        transition: all 1s;
                    }

                    .form2:hover #input, .form2:valid #input {
                        display: block;
                    }

                    .form2:hover, .form2:valid {
                        width: 200px;
                        cursor: pointer;
                    }
                </style>
                <div class="lang-drop">
                    <select class="form-control" id="cbLanguage" name="cbLanguage" onchange="onChangeLanguage()">
                        <option value="vn">VNI</option>
                        <option value="en">ENG</option>
                    </select>
                </div>
                <div class="search-bl">
                    <form style="margin-top:50%" class="form2" action="">
                        <input id="input" type="search" required=required />
                        <i id="seach" class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <button class="menu-btn nav-open hidden-lg" type="button">
            <i class="fa-solid fa-ellipsis-stroke-vertical"></i>
        </button>
    </div>
    <div class="m-nav hidden-lg __web-inspector-hide-shortcut__">
        <button class="menu-btn act nav-close" type="button">
            <i class="fas fa-times"></i>
        </button>
        <div class="nav-ct">
        </div>
    </div>
    @RenderBody()
    <footer class="footer-wp">
        <a href="#" class="btn btn-ft">
            Tư vấn ngay
        </a>
        <div class="container">
            <div class="row">
                <style>
                    .h-addressa {
                        margin-bottom: 50px;
                    }
                </style>
                <div id="footerleft" class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 col-12 address-ft">
                
                </div>
                <div  id="footercenter" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 address-ft">
                </div>
                <div  class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 col-12 contact-ft">
                   <div id="footerright"></div>
                    <div id="emaillayout" class="h-contact">
                    </div>
                    <div class="h-contact">
                        <ul id="iconfooter">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <hr />
    <footer>
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year -  Design by
                <a href="https://www.haphan.com/" target="_blank">
                    HaPhan JSC
                </a>
            </p>
        </div>
    </footer>
    @*<div class="hotline-i" id="coccoc-alo-phoneIcon" class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
        <div class="coccoc-alo-ph-circle"></div>
        <div class="coccoc-alo-ph-circle-fill"></div>
        <div class="coccoc-alo-ph-img-circle"><a href="tel:0978211534"><img alt="" src="/images/phone-ring.png" /></a></div>
    </div>*@
    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>

    <script src="~/Scripts/js/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/js/jquery.gritter.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/js/BasePage.js"></script>
    <script type="text/javascript">
        function onChangeLanguage() {
            $.post('/LoadData/LoadInformation.aspx', { type: "changelanguage", Language: $("#cbLanguage").val() }, function (data) {
                document.location.reload();
            });
        }
        $(function () {
            var language = '';
            if (language == "en") {
                $('#cbLanguage').val('en');
            }
            else {
                $('#cbLanguage').val('vn');
            }
        });
        $("#btnRegisterEmail").click(function () {
            if ($("#txtRegisterEmailWebsite").val() == "") {
                Alert('Vui lòng nhập email của bạn', 'warning');
                return false;
            }
            if (checkEmail('txtRegisterEmailWebsite') == false) {
                Alert('Email không đúng, vui lòng kiểm tra lại.', 'warning');
                return false;
            }
            $("#showloading").show();
            $.post('/LoadData/LoadInformation.aspx', { type: "registeremail", Email: document.getElementById("txtRegisterEmailWebsite").value }, function (data) {
                Alert(data, 'success');
                document.getElementById("txtRegisterEmailWebsite").value = "";
                $("#showloading").hide();
            });
        });
        $('#txtRegisterEmailWebsite').keypress(function (e) {
            if (e.which == 13) {
                $("#btnRegisterEmail").click();
                return false;
            }
        });
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                if ($("#txtSearch").val() == "") {
                    Alert('Bạn chưa nhập nội dung tìm kiếm!', 'warning');
                    return false;
                }
                else {
                    var content = encodeURIComponent(ReplaceSpecialCharacter(document.getElementById("txtSearch").value.trim()));
                    document.location = "/Product/search=" + content;
                }
            });
            $('#txtSearch').keypress(function (e) {
                if (e.which == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });
        });
        //Contact business
        $.ajax({
            url: '/home/TTLHKD',
            type: 'get',
            success: function (data) {
                $('#ttlhkd').empty();
                if (data.code == 200) {
                    $.each(data.ttlh, function (k, v) {
                        let i = '<div id="touchFlow2" class="nav_h_type">';
                        i += '<ul>';
                        i += '<li>';
                        i += ' <a href="/Upload/Content/Certification/01422019034232864_71.jpg"data-fancybox="gallery1" data-caption="CN5" tabindex="1">';
                        i += '<a id="'+v.id+'"  style="font-size:16px;color:black" class="hotline" href="http://haphan.com/AboutUs" target="_blank">';
                        i += '<i class="fa-solid fa-headset">'+v.phone+'(' + v.name + ')</i>';
                        i += '</a>';
                        i += '</a>';
                        i += '</li>';
                        i += '</ul>';
                        i += '</div>';
                        $('#ttlhkd').append(i);
                    });
                }
            }
        });
        //CSKH
        $.ajax({
            url: '/home/CSKH',
            type: 'get',
            success: function (data) {
                $('#cskh').empty();
                if (data.code == 200) {
                    $.each(data.ttlh, function (k, v) {
                        let i = '<div id="touchFlow2" class="nav_h_type">';
                        i += '<ul>';
                        i += '<li>';
                        i += ' <a href="/Upload/Content/Certification/01422019034232864_71.jpg"data-fancybox="gallery1" data-caption="CN5" tabindex="1">';
                        i += '<a style="color:black" class="hotline" href="http://haphan.com/AboutUs" target="_blank">';
                        i += '<i class="fa-solid fa-headset">' + v.phone + '(' + v.name + ')</i>';
                        i += '</a>';
                        i += '</a>';
                        i += '</li>';
                        i += '</ul>';
                        i += '</div>';
                        $('#cskh').append(i);
                    });
                }
            }
        });
        //logo
        $.ajax({
            url: '/home/Logo',
            type: 'get',
            success: function (data) {
                $('#logo').empty();
                if (data.code == 200) {
                    $.each(data.logo, function (k, v) {
                        let i = '<a href="/" id="' + v.id + '" >';
                        i += '<img style="width:200px;margin-left:-100px" src="/Images/'+v.image+'" alt="' + v.title + '" />';
                        i += ' </a>';
                        $('#logo').append(i);
                    });
                }
            }
        });
        //footerleft
            $.ajax({
                url: '/icts/footers/FooterLeft',
                type: 'get',
                success: function (data) {
                    $('#footerleft').empty();
                    if (data.code == 200) {
                        $.each(data.footerleft, function (k, v) {
                            let div = '<div id="' + v.id + '" class="h-addressa">';
                            div += '<h3>' + v.name + '</h3>';
                            div += '</div>';
                            $('#footerleft').append(div);
                        });                     
                    }
                }
            });
        //footercenter
        $.ajax({
            url: '/icts/footers/FooterCenter',
            type: 'get',
            success: function (data) {
                $('#footercenter').empty();
                if (data.code == 200) {
                    $.each(data.footercenter, function (k, v) {
                        let div = '<div id="' + v.id + '" class="h-addressa">';
                        div += '<img style="width: 300px;height: 350px;margin-left: -100px;" src="/Images/' + v.image + '" />';
                        div += '</div>';
                        $('#footercenter').append(div);
                    });
                }
            }
        });
        //footerright
        $.ajax({
            url: '/home/FooterRight',
            type: 'get',
            success: function (data) {
                $('#footerright').empty();
                if (data.code == 200) {
                    $.each(data.footerright, function (k, v) {                     
                        let div = '<div id="' + v.id + '" class="h-contact">';
                        div += '<h3>'+v.name+'</h3>';
                        div += '<h4>' + v.address + '</h4>';
                        div += '<h4>' + v.phone + '</h4>';
                        div += '</div>';
                        $('#footerright').append(div);
                        $('#emaillayout').empty();
                        let email = '<h3>' + v.email + '</h3>';
                        $('#emaillayout').append(email);
                    });
                    $.ajax({
                        url: '/home/FooterRight',
                        type: 'get',
                        success: function (data) {
                            $('#iconfooter').empty();
                            if (data.code == 200) {
                                $.each(data.footerright2, function (k, v) {
                                    let ul = '<li id="' + v.id + '">';
                                    ul += '<a style="color:white" href="'+v.link+'" target = "_blank" >';
                                    ul += '<i class="' + v.dec + '"></i>';
                                    ul += '</a>';
                                    ul += '</li>';
                                    $('#iconfooter').append(ul);
                                });
                            }
                        }
                    });
                }
            }
        });
        //menusanpham
        $.ajax({
            url: '/categorieshome/DanhMucSanPham',
            type: 'get',
            success: function (data) {
                $('#menusanpham').empty();
                if (data.code == 200) {
                    $.each(data.dmsp, function (k, v) {
                        let li = '<li>';
                        li += '<a class="smooth" href="/CategoriesHome/'+v.meta+'" title="' + v.title + '">' + v.name + '</a >';
                        li += '</li>';
                        $('#menusanpham').append(li);
                        
                    });
                }
            }
        });
    </script>
    <script src="~/Content/bootstrap-4.1.3/bootstrap-4.1.3/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
