<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="web_copy_date" content="&lt;%= DateTime.Now %>" />
    <meta name="expires" content="&lt;%= DateTime.Now.AddYears(10) %>" />
    <meta name="web_content_type" content="Tips" />
    <meta name="resource-type" content="document" />
    <meta name="classification" content="internet" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="safe for kids" />
    <meta name="doc-type" content="public" />
    <meta name="subject" content="BS4U, analyzer results - analyze your website" />
    <meta name="contactStreetAddress1" content="HCM" />
    <meta name="contactZipcode" content="70000" />
    <meta name="contactCity" content="HCM" />
    <meta name="contactCountry" content="Viet Nam" />
    <meta name="Referrer-Policy" content="origin" />
    <meta http-equiv=”content-language” content=”vi” />
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3/bootstrap-4.1.3/dist/css/bootstrap.min.css.map" />
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<meta name="description" content="Chúng tôi nhập khẩu các thiết bị mã vạch 100% chính hãng" />
        <meta name="keywords" content="Nhà cung cấp thiết bị mã vạch" />*@

    <link href="~/Content/css/other.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3/bootstrap-4.1.3/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/magnifier.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css" />
    <style>
        .search-bl .form2{
            margin-top:50%;
            margin-left:200%;
        }
        .form2 {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 1s;
            width: 50px;
            height: 50px;
            background: white;
            box-sizing: border-box;
            border-radius: 25px;
            border: 4px solid white;
            padding: 5px;
            border-color: black;
        }

        #input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 42.5px;
            line-height: 30px;
            outline: 0;
            border: 0;
            display: none;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
        }

        #seach {
            box-sizing: border-box;
            padding: 10px;
            width: 42.5px;
            height: 42.5px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            color: #07051a;
            text-align: center;
            font-size: 1.2em;
            transition: all 1s;
        }

        .form2:hover #input, .form2:valid #input {
            display: block;
        }

        .form2:hover, .form2:valid {
            width: 200px;
            cursor: pointer;
        }
    </style>

    <title>
        @ViewBag.Title  | Ha Phan JSC
    </title>



</head>
<body>

    <div>
        <input type="hidden" name="__CUSTOMVIEWSTATE" id="__CUSTOMVIEWSTATE" value="H4sIAAAAAAAEAPvPyJ/Cz8qta2hoaGRqYWFuapgCAB/uHt4TAAAA" />
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="" />
    </div>
    @*<div id="showloading">
            <div>
            </div>
            <img src="~/Images/loading.gif" alt="" id="ctl0_loadingImage"
                 style="position: absolute; z-index: 110; top: 50%; left: 50%;" />
        </div>*@
    @*----logo-----*@
    <div class="header-wp">
        <div class="row">
            <div id="logo" class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12 col-12 logo-wp">

            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="header-top-right">
                    <div id="ttlhkd" class="header-top-flex-l">
                    </div>
                    <div id="cskh" class="header-top-flex-r">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-wp">
        <div style="max-width:100%;" class="container">
            <div class="main-bar">
                <nav class="main-nav">
                    <ul style="margin:0">
                        <li class="icon-home ">
                            <a class="smooth" href="/" title="">
                                <i style="font-size:xx-large" class="fa-solid fa-house"></i>
                            </a>
                        </li>
                        @*----sanpham------*@
                        <li class="nav-sub ">
                            <a class="smooth" href="/san-pham/" title="">
                                Sản phẩm
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul style="background-color: white;" id="menusanpham">
                            </ul>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="/giai-phap/" title="">
                                Giải pháp
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul style="background-color: white;" id="menusolution">
                            </ul>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="/dich-vu/" title="">
                                HaPhan Service
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul style="background-color: white;" id="menuservice">
                            </ul>
                        </li>
                        <li class="nav-sub">
                            <a class="smooth" href="/blog/" title="">
                                Blog
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul style="background-color:white;" id="menublog">
                            </ul>
                        </li>
                        <li>
                            <a class="smooth" href="/lien-he/" title="">
                                Liên hệ
                            </a>
                        </li>

                        <li>
                            <div class="h-search-wp">
                                <div class="search-bl">
                                    <form class="form2" action="">
                                        <input id="input" type="text" required=required />
                                        <i id="seach" class="fa-solid fa-magnifying-glass"></i>
                                    </form>
                                    <table class="Look">
                                        <tbody id="tbdlook">
                                        </tbody>
                                    </table>
                                    <div id="pagel" style="display:none" class="row">
                                        <a id="previousl"><i class="fa-thin fa-angles-left"></i></a>
                                        <a id="nextl"><i class="fa-thin fa-angles-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
            <div style="text-align:right;padding-top:2%" id="google_translate_element"> </div>
            <div class="clear">
            </div>

        </div>
       
    </div>
    @RenderBody()
    <footer class="footer-wp">
        <a href="https://core.vchat.vn/service/chat?code=15916&jwt=45ae06d6b91993b0946b399ef54787a1" class="btn btn-ft">
            Tư vấn ngay
        </a>
        <div class="container">
            <div class="row">
                <style>
                    .h-addressa {
                        margin-bottom: 50px;
                    }
                </style>
                <div id="footerleft" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 address-ft">

                </div>
                <div id="footercenter" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 address-ft">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 contact-ft">
                    <div id="footerright"></div>
                    <div id="emaillayout" class="h-contact">
                    </div>
                    <div class="h-contact">
                        <ul id="iconfooter">
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <p>
                    &copy; @DateTime.Now.Year -  Design by
                    <a href="https://www.haphan.com/" target="_blank">
                        HaPhan JSC
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <script lang="javascript">var __vnp = { code: 15916, key: '', secret: '45ae06d6b91993b0946b399ef54787a1' }; (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.defer = true; ga.src = '//core.vchat.vn/code/tracking.js'; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/js/jquery.gritter.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/js/BasePage.js"></script>
    <script src="~/Scripts/js/Magnifier.js"></script>
    <script src="~/Scripts/js/Event.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

    <script type="text/javascript">
        var data_ICTS = "https://localhost:44311";
        $(document).ready(function () {
            if (top.location.hostname != self.location.hostname) {
                //If not then set the top to you current
                top.location.href = self.location.href;
            }
        });
        //seo
        $.ajax({
            url: '/seo/Seo',
            type: 'get',
            success: function (data) {
                if (data.code == 200) {
                    $.each(data.dmsp, function (k, v) {
                        var meta = ' <meta name="' + v.name + '" content="' + v.content + '" />';
                        $('head').append(meta);
                    })

                }
            }
        })
        //Contact business
        $.ajax({
            url: '/home/TTLHKD',
            type: 'get',
            success: function (data) {
                $('#ttlhkd').empty();
                if (data.code == 200) {
                    $.each(data.ttlh, function (k, v) {
                        let i = '<div id="touchFlow2" class="nav_h_type">';
                        i += '<ul>';
                        i += '<li>';
                        i += ' <a href="/Upload/Content/Certification/01422019034232864_71.jpg"data-fancybox="gallery1" data-caption="CN5" tabindex="1">';
                        i += '<a id="' + v.id + '"  style="font-size:16px;color:black" class="hotline" href="tel:' + v.phone + '" target="_blank">';
                        i += '<i class="fa-solid fa-headset">' + v.phone + '(' + v.name + ')</i>';
                        i += '</a>';
                        i += '</a>';
                        i += '</li>';
                        i += '</ul>';
                        i += '</div>';
                        $('#ttlhkd').append(i);
                    });

                }
            }
        });
        //CSKH
        $.ajax({
            url: '/home/CSKH',
            type: 'get',
            success: function (data) {
                $('#cskh').empty();
                if (data.code == 200) {
                    $.each(data.ttlh, function (k, v) {
                        let i = '<div id="touchFlow2" class="nav_h_type">';
                        i += '<ul>';
                        i += '<li>';
                        i += ' <a href="/Upload/Content/Certification/01422019034232864_71.jpg"data-fancybox="gallery1" data-caption="CN5" tabindex="1">';
                        i += '<a style="color:black" class="hotline" href="tel:' + v.phone + '" target="_blank">';
                        i += '<i class="fa-solid fa-headset">' + v.phone + '(' + v.name + ')</i>';
                        i += '</a>';
                        i += '</a>';
                        i += '</li>';
                        i += '</ul>';
                        i += '</div>';
                        $('#cskh').append(i);
                    });
                }
            }
        });
        //logo
        $.ajax({
            url: '/home/Logo',
            type: 'get',
            success: function (data) {
                $('#logo').empty();
                if (data.code == 200) {
                    $.each(data.logo, function (k, v) {
                        let i = '<a href="/" id="' + v.id + '" >';
                        i += '<img style="width:200px;" src="/Images/' + v.image + '" alt="' + v.title + '" />';
                        i += ' </a>';
                        $('#logo').append(i);
                    });
                }
            }
        });
        //footerleft
        $.ajax({
            url: '/icts/footers/FooterLeft',
            type: 'get',
            success: function (data) {
                $('#footerleft').empty();
                if (data.code == 200) {
                    $.each(data.footerleft, function (k, v) {
                        let div = '<div id="' + v.id + '" class="h-addressa">';
                        div += '<h3><a style="text-decoration-line: none;color:white" href="' + v.link + '"> ' + v.name + '</a></h3>';
                        div += '</div>';
                        $('#footerleft').append(div);
                    });
                }
            }
        });
        //footercenter
        $.ajax({
            url: '/icts/footers/FooterCenter',
            type: 'get',
            success: function (data) {
                $('#footercenter').empty();
                if (data.code == 200) {
                    $.each(data.footercenter, function (k, v) {
                        let div = '<div id="' + v.id + '" class="h-addressa">';
                        div += '<img  src="/Images/' + v.image + '" />';
                        div += '</div>';
                        $('#footercenter').append(div);
                    });
                }
            }
        });
        //footerright
        $.ajax({
            url: '/home/FooterRight',
            type: 'get',
            success: function (data) {
                $('#footerright').empty();
                if (data.code == 200) {
                    $.each(data.footerright, function (k, v) {
                        let div = '<div id="' + v.id + '" class="h-contact">';
                        div += '<h3>' + v.name + '</h3>';
                        div += '<h4>' + v.address + '</h4>';
                        div += '<h4><a style="text-decoration-line: none;color:white" href="tel:' + v.phone + '">Tel : ' + v.phone + '</a></h4>';
                        div += '</div>';
                        $('#footerright').append(div);
                        $('#emaillayout').empty();
                        let email = '<h3><a style="text-decoration-line: none;color:white" href="mailto:' + v.email + '">' + v.email + '</a></h3>';
                        $('#emaillayout').append(email);
                    });
                    $.ajax({
                        url: '/home/FooterRight',
                        type: 'get',
                        success: function (data) {
                            $('#iconfooter').empty();
                            if (data.code == 200) {
                                $.each(data.footerright2, function (k, v) {
                                    let ul = '<li id="' + v.id + '">';
                                    ul += '<a style="color:white" href="' + v.link + '" target = "_blank" >';
                                    ul += '<i class="' + v.dec + '"></i>';
                                    ul += '</a>';
                                    ul += '</li>';
                                    $('#iconfooter').append(ul);
                                });
                            }
                        }
                    });
                }
            }
        });
        //menusanpham
        $.ajax({
            url: '/categorieshome/DanhMucSanPham',
            type: 'get',
            success: function (data) {
                $('#menusanpham').empty();
                if (data.code == 200) {
                    let li = '<p class="menuct">Danh Mục</p>';
                    $.each(data.dmsp, function (k, v) {

                        li += '<li class="nav-nav">';
                        li += '<a name="acate" id="cate-' + v.id + '" class="smooth cate" href="" title="">' + v.name + ' <i class="catei' + v.id + ' fa-duotone fa-chevrons-right"></i></a >';
                        li += '<ul class="categoryproduct' + v.id + '">';
                        li += '</ul>';
                        li += '</li>';

                    }); $('#menusanpham').append(li);

                }
                let idscate = $('.cate').map(function (_, x) { return x.id; }).get();
                for (let i = 0; i < idscate.length; i++) {
                    let id = idscate[i].substring(5)
                    $('#' + idscate[i] + '').mouseenter(function () {
                        $('.categoryproduct' + id + '').addClass('Add' + idscate[i] + '');
                        $('#menusanpham .catei' + id + '').css("visibility", "visible")
                        $.ajax({
                            url: '/categorieshome/ProductCategory/',
                            type: 'get',
                            data: {
                                id: id
                            },
                            success: function (data) {
                                $('.Add' + idscate[i] + '').empty();
                                if (data.code == 200) {

                                    let li = '<p class="menuct">Loại Sản Phẩm</p>';
                                    $.each(data.dmsp, function (k, v) {
                                        li += '<li>';
                                        li += '<a href="" id="pro-' + v.id + '" name="apro" class="pro">' + v.name + ' <i class="proi' + v.id + ' fa-duotone fa-chevrons-right"></i></a>';
                                        li += '<ul class="product' + v.id + '">';
                                        li += '</ul>';
                                        li += '</li>';

                                    }); $('.Add' + idscate[i] + '').append(li);
                                }
                                let idspro = $('.pro').map(function (_, x) { return x.id; }).get();
                                for (let i = 0; i < idspro.length; i++) {
                                    let id = idspro[i].substring(4)
                                    $('#' + idspro[i] + '').mouseenter(function () {
                                        $('.product' + id + '').addClass('Add' + idspro[i] + '');
                                        $('#menusanpham .proi' + id + '').css("visibility", "visible")
                                        $.ajax({
                                            url: '/categorieshome/Product/',
                                            type: 'get',
                                            data: {
                                                id: id
                                            },
                                            success: function (data) {
                                                $('.Add' + idspro[i] + '').empty();
                                                if (data.code == 200) {
                                                    let li = '<p class="menuct">Sản Phẩm</p>';
                                                    $.each(data.dmsp, function (k, v) {
                                                        li += '<li>';
                                                        li += '<a href="" id="pro-' + v.id + '" name="bproduct" class="pro">' + v.name + '</a>';
                                                        li += '</li>';

                                                    }); $('.Add' + idspro[i] + '').append(li);
                                                }
                                            }
                                        });
                                    })
                                    $('#' + idspro[i] + '').mouseleave(function () {
                                        $('#menusanpham .proi' + id + '').css("visibility", "hidden")
                                    })
                                }
                            }
                        });
                    })
                    $('#' + idscate[i] + '').mouseleave(function () {
                        $('#menusanpham .catei' + id + '').css("visibility", "hidden")
                    })
                }

            }
        });
        //menuservice
        $.ajax({
            url: '/service/ServiceMenu',
            type: 'get',
            success: function (data) {
                $('#menuservice').empty();
                if (data.code == 200) {
                    let li = '<p class="menuct">Dịch Vụ</p>';
                    $.each(data.dmsp, function (k, v) {
                        li += '<li class=""nav-nav>';
                        li += '<a href="" name="aservice" id="' + v.id + '" class="smooth" href="" title="' + v.title + '">' + v.name + '</a >';
                        li += '</li>';
                    }); $('#menuservice').append(li);
                }
            }
        });
        //menublog
        $.ajax({
            url: '/blog/BlogMenu',
            type: 'get',
            success: function (data) {
                $('#menublog').empty();
                if (data.code == 200) {
                    let li = '<p class="menuct">Danh Mục Blog</p>';
                    $.each(data.dmsp, function (k, v) {
                        li += '<li class=""nav-nav>';
                        li += '<a href="" name="ablogmenu" id="' + v.id + '" class="smooth" href="" title="' + v.title + '">' + v.name + '</a >';
                        li += '</li>';
                    }); $('#menublog').append(li);
                }
            }
        });
        //link service
        $(document).on('click', "a[name='aservice']", function () {
            let idservice = $(this).closest('a').attr('id');
            $.ajax({
                url: '/service/ServiceDetail',
                type: 'get',
                data: {
                    id: idservice
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            location.href = data.Url + v.meta + "/" + v.id;
                        })
                    }
                }
            });
        })
        //link cate
        $(document).on('click', "a[name='acate']", function () {
            let idcate = $(this).closest('a').attr('id');
            let idcate2 = idcate.substring(5);
            $.ajax({
                url: '/categoryproducthome/Cate',
                type: 'get',
                data: {
                    id: idcate2
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            location.href = data.Url + v.meta.replace(/&|\//g, "") + "/" + v.id;
                        })
                    }
                }
            });
        })
        //link procate
        $(document).on('click', "a[name='apro']", function () {
            let idpro = $(this).closest('a').attr('id');
            let idprocate = idpro.substring(4);
            $.ajax({
                url: '/categoryproducthome/ProCateUrl',
                type: 'get',
                data: {
                    id: idprocate
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            location.href = data.Url + v.meta.replace(/&|\//g, "") + "/" + v.id;
                        })
                    }
                }
            });
        })
        /* ---------addlinkproduct---------------*/
        $(document).on('click', "a[name='bproduct']", function () {
            let idp = $(this).closest('a').attr('id');
            let idproduct = idp.substring(4)
            $.ajax({
                url: '/producthome/DetailProductById',
                type: 'get',
                data: {
                    id: idproduct
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            window.location.href = data.Url + v.meta + "/" + v.ids
                        })

                    }
                }
            })
        })
        //menusolution
        $.ajax({
            url: '/solutionhome/Solution',
            type: 'get',
            success: function (data) {
                $('#menusolution').empty();
                if (data.code == 200) {
                    let li = '<p class="menuct">Giải Pháp</p>';
                    $.each(data.left, function (k, v) {
                        li += '<li class="nav-nav">';
                        li += '<a name="asolution" id="' + v.id + '" class="smooth"  title="' + v.title + '">' + v.name + '</a >';
                        li += '</li>';
                    }); $('#menusolution').append(li);
                }
            }
        });
        //link solution
        $(document).on('click', "a[name='asolution']", function () {
            let idsolution = $(this).closest('a').attr('id');
            $.ajax({
                url: '/solutionhome/DetailSolution',
                type: 'get',
                data: {
                    id: idsolution
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            location.href = data.Url + v.meta + "/" + v.id;
                        })
                    }
                }
            });
        })
        /*--------- addlinkblog---------------**/
        $(document).on('click', "a[name='ablogmenu']", function () {
            let id = $(this).closest('a').attr('id')
            $.ajax({
                url: '/blog/BlogUrl',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            window.location.href = data.Url + v.meta + "/" + v.id

                        })

                    }
                }
            })
        })
        /*        -----------look------------------------*/
        $('#input').on('keyup', function (e) {
            var pagel = 1;
            var none = $('#input').val();
            autoseach(none, pagel);
            if (none.length == 0) {
                none = "";
                $('#tbdlook').css("display", "none");
                $('#pagel').css("display", "none");
            }
            $('#nextl').click(function () {
                pagel += 1;
                autoseach(none, pagel);
            })
            $('#previousl').click(function () {
                pagel -= 1;
                autoseach(none, pagel);
            })
        });
        function autoseach(none, pagel) {
            $('#tbdlook').css("display", "block");
            $('#pagel').css("display", "block");
            $.ajax({
                url: '/producthome/ProductLook',
                type: 'get',
                data: {
                    seach: none,
                    page: pagel
                },
                success: function (data) {
                    $('#tbdlook').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let s = '<tr>';
                            s += '<td><img src="/Images/' + v.image + '"/></td>';
                            s += '<td><a id="pro-' + v.id + '" name="bproduct">' + v.name + '</a></td>';
                            s += '</tr>';
                            $('#tbdlook').append(s);
                        });
                    }
                }
            });
        }
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: "vi",
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                },
                "google_translate_element"
            );
        }
    </script>
    <script src="~/Scripts/js/script.js"></script>


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '732421344676426',
                cookie: true,
                xfbml: true,
                version: 'v14.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=732421344676426&autoLogAppEvents=1" nonce="DWpuzcS0"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
