@model IEnumerable<ICTS.com.Models.Category>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Areas/ICTS/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    #seachinputproductcategory, #seachinputproduct {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
</style>
<div id="seachinput" class="input-group">
    
    <div class="form-outline">
        <div><input type="search" id="seach" class="form-control" placeholder="Danh Mục Sản Phẩm" /></div>

    </div>
    <button type="button" id="btnSeach" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</div>

<div id="seachinputproductcategory">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="seachproductcategory" class="form-control" placeholder="Loại Sản Phẩm" />
        </div>
        <button type="button" id="btnSeachproductcategory" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div>
        <select id="selectcategory">
        </select>
    </div>
</div>

<div id="seachinputproduct">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="seachproduct" class="form-control" placeholder="Sản Phẩm" />
        </div>
        <button type="button" id="btnSeachproduct" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div>
        <select id="selectcategory1">
        </select>
        <select id="selectproductcategory">
        </select>
        <select id="selectbrand">
        </select>
    </div>
</div>


<div id="seachinputbrand" class="input-group">
    <div class="form-outline">
        <input type="search" id="seachbrand" class="form-control" placeholder="Thương Hiệu" />
    </div>
    <button type="button" id="btnSeachbrand" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</div>
<div class="inn" id="result">

</div>
@*<div class="inn" id="result1">

</div>
<div class="inn" id="result2">

</div>*@
<table class="table Category Productcategory Brand Product">
</table>
<div>
    <ul class="pagination" id="pageproduct">
    </ul>
</div>
<div>
    <ul class="pagination" id="pageproductcategory">
    </ul>
</div>
<div>
    <ul class="pagination" id="categorypage">
    </ul>
</div>
<div>
    <ul class="pagination" id="pagebrand">
    </ul>
</div>
@*-----------------modal category------------------*@
<div id="dmsp" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitlecategory"></div>
                <input type="text" hidden id="iddmsp" value="" />
                <div class="form-group" style="margin-left:20px">
                    <label>Tên danh mục sản phẩm</label>
                    <input type="text" class="form-control" id="namedmsp" placeholder="Tên danh mục">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control" hidden id="urldmsp" placeholder="url">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control hidden" hidden id="titledmsp" placeholder="title">
                </div>

                <div class="form-inline">
                    <label>Chọn ảnh</label>
                    <input type="text" hidden name="picture" id="picturefile" class="form-control" />
                    <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none" />
                    <input type="button" id="btnUpload" value="..." class="btn-bg-success" />
                    <img style="width:100px" id="picture" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-control" id="statusdmsp" placeholder="Trạng thái">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng Thái Hình Ảnh Giao Diện</label>
                            <input type="checkbox" class="form-control" id="statusimagedmsp" placeholder="Trạng thái">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày tạo</label>
                            <input type="text" class="form-control" id="createdate">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày sửa</label>
                            <input type="text" class="form-control" id="modifiledate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người tạo</label>
                            <input type="text" class="form-control" id="createby" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người sửa</label>
                            <input type="text" class="form-control" id="modifileby" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmitdmsp">Xác Nhận</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@*-----------------modal productcategory------------------*@
<div id="modalproductcategory" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitleproductcategory"></div>
                <input type="text" hidden id="idproductcategory" value="" />
                <div class="form-group" style="margin-left:20px">
                    <label>Tên Danh Mục</label>
                    <div>
                        <select class="browser-default custom-select" id="namecategory">
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-left:20px">
                    <label>Tên Loại sản phẩm</label>
                    <input type="text" class="form-control" id="nameproductcategory" placeholder="Tên danh mục">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control" hidden id="urlproductcategory" placeholder="url">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control hidden" hidden id="titleproductcategory" placeholder="title">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-control" id="statusproductcategory" placeholder="Trạng thái">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày tạo</label>
                            <input type="text" class="form-control" id="createdateproductcategory">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày sửa</label>
                            <input type="text" class="form-control" id="modifiledateproductcategory">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người tạo</label>
                            <input type="text" class="form-control" id="createbyproductcategory" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người sửa</label>
                            <input type="text" class="form-control" id="modifilebyproductcategory" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmitproductcategory">Xác Nhận</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@*-----------------modal brand------------------*@
<div id="modalbrand" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitlebrand"></div>
                <input type="text" hidden id="idbrand" value="" />
                <div class="form-group" style="margin-left:20px">
                    <label>Tên Thương hiệu</label>
                    <input type="text" class="form-control" id="namebrand" placeholder="Tên Thương Hiệu">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control" hidden id="urlbrand" placeholder="url">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control hidden" hidden id="titlebrand" placeholder="title">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-control" id="statusbrand" placeholder="Trạng thái">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày tạo</label>
                            <input type="text" class="form-control" id="createdatebrand">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày sửa</label>
                            <input type="text" class="form-control" id="modifiledatebrand">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người tạo</label>
                            <input type="text" class="form-control" id="createbybrand" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người sửa</label>
                            <input type="text" class="form-control" id="modifilebybrand" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmitbrand">Xác Nhận</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@*-----------------modal product------------------*@
<div id="modalproduct" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitleproduct"></div>
                <input type="text" hidden id="idproduct" value="" />
                <div class="form-group" style="margin-left:20px">
                    <label>Tên sản phẩm</label>
                    <input type="text" class="form-control" id="nameproduct" placeholder="Tên Sản Phẩm">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control" hidden id="urlproduct" placeholder="url">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control hidden" hidden id="titleproduct" placeholder="title">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-inline">
                            <label>Chọn ảnh Chính</label>
                            <input type="text" hidden name="picture" id="picturefileproduct" class="form-control" />
                            <input type="file" id="fileUploadproduct" name="fileUpload" accept="image/*" style="display:none" />
                            <input type="button" id="btnUploadproduct" value="..." class="btn-bg-success" />
                            <img style="width:100px" id="pictureproduct" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label>Thông Số</label>
                    <textarea class="form-control" id="thongso"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-control" id="statusproduct" placeholder="Trạng thái">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày tạo</label>
                            <input type="text" class="form-control" id="createdateproduct">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày sửa</label>
                            <input type="text" class="form-control" id="modifiledateproduct">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người tạo</label>
                            <input type="text" class="form-control" id="createbyproduct" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người sửa</label>
                            <input type="text" class="form-control" id="modifilebyproduct" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmitdetailproduct">Chỉnh Sửa Chi Tiết Sản Phẩm</button>
                <button type="submit" class="btn btn-primary" id="btnSubmitproduct">Xác Nhận</button>
                <div id="bt"></div>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@*-----------------modal detailproduct------------------*@
<div id="modaldetailproduct" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitledetailproduct"></div>
                <input type="text" hidden id="idproduct" value="" />
                <div id="id">

                </div>

                <div class="form-group">
                    <label>Ứng Dụng</label>
                    <textarea class="form-control" id="applicationdetailproduct"></textarea>
                </div>
                <div class="form-group">
                    <label>Thông Tin</label>
                    <textarea class="form-control" id="decdetailproduct"></textarea>
                </div>
                <div class="form-group">
                    <label>Thông Số Kĩ Thuật</label>
                    <textarea class="form-control" id="dectechdetailproduct"></textarea>
                </div>
                <div class="form-group">
                    <label>mô tả</label>
                    <textarea class="form-control" id="optiondetailproduct"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmitOK">Xác Nhận</button>
                    <button type="submit" class="btn btn-secondary" id="dong" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*-----------------modal imageadd------------------*@
<div id="modalimageadd" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitleimageadd"></div>
                <input type="text" hidden id="idimageadd" value="" />
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>
                                <div class="form-inline">
                                    <label>Ảnh Mới</label>
                                    <input type="text" hidden name="picture" id="picturefileimageadd" class="form-control" />
                                    <input type="file" id="fileUploadimageadd" name="fileUpload" accept="image/*" style="display:none" />
                                    <button id="btnUploadimageadd" class="btn btn-xs btn-success"> <i class="fa-solid fa-plus"></i></button>&nbsp
                                    <img style="width:50px" id="pictureimageadd" />
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbd"></tbody>
                </table>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmitimageaddok">Xác Nhận</button>
                    <button type="submit" class="btn btn-secondary" id="dongimageadd" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
         //--------------------------------------------------autoseach-------------------------------------------------------------------------------------------------------
        //cate
        //Detail
        $(document).on('click', "p[name='view']", function () {
            let id = $(this).closest('p').attr('id');
            Detail(id);
            $('#createdate').prop('readonly', true);
            $('#modifiledate').prop('readonly', true);
            $('#modifileby').prop('readonly', true);
            $('#createby').prop('readonly', true);
            $('#modifiledate').show();
            $('#modifileby').show();
            $('#btnSubmitdmsp').hide();
            $('#iddmsp').val('');
        });
        $('#seach').on('keyup', function (e) {
            $('.inn').css("display", "flex")
            var none = $('#seach').val();
            autoseach(none);
            if (none.length == 0) {
                none = "";
                $('.inn').css("display", "none")
            }
        });
        function autoseach(none) {
            $.ajax({
                url: '/icts/categories/SeachAuto',
                type: 'get',
                data: {
                    seach: none
                },
                success: function (data) {
                    $('#result').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let s = ' <p id="' + v.id + '"name="view">' + v.name + '( chi tiết)</p>';
                            $('#result').append(s);
                        });
                    }
                }
            });
        }
        //procate
        //Detail
        $(document).on('click', "p[name='viewproductcategory']", function () {
            let id = $(this).closest('p').attr('id');
            DetailProductcategory(id);
            $('#createdateproductcategory').prop('readonly', true);
            $('#modifiledateproductcategory').prop('readonly', true);
            $('#modifilebyproductcategory').prop('readonly', true);
            $('#createbyproductcategory').prop('readonly', true);
            $('#btnSubmitproductcategory').hide();
            $('#idproductcategory').val('');
        });
        $('#seachproductcategory').on('keyup', function (e) {
            $('.inn').css("display", "flex")
            var none1 = $('#seachproductcategory').val();
            autoseachprocate(none1);
            if (none1.length == 0) {
                none1 = "";
                $('.inn').css("display", "none")
            }
        });
        function autoseachprocate(none) {
            $.ajax({
                url: '/icts/productcategories/SeachAuto',
                type: 'get',
                data: {
                    seach: none
                },
                success: function (data) {
                    $('#result').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let s = ' <p id="' + v.id + '" name="viewproductcategory">' + v.name + '(chi tiết)</p>';
                            $('#result').append(s);
                        });
                    }
                }
            });
        }
        //pro
        //Detail
        $(document).on('click', "p[name='viewproduct']", function () {
            let id = $(this).closest('p').attr('id');
            DetailProduct(id);
            $('#createdateproduct').prop('readonly', true);
            $('#modifiledateproduct').prop('readonly', true);
            $('#modifilebyproduct').prop('readonly', true);
            $('#createbyproduct').prop('readonly', true);
            $('#modifiledateproduct').show();
            $('#modifilebyproduct').show();
            $('#btnSubmitproduct').hide();
            $('#btnSubmitdetailproduct').hide();
            $('#btnSubmitimageadd').hide();
            $('#idproduct').val('');
        });
        $('#seachproduct').on('keyup', function (e) {
            $('.inn').css("display", "flex")
            var none2 = $('#seachproduct').val();
            autoseachpro(none2);
            if (none2.length == 0) {
                none2 = "";
                $('.inn').css("display", "none")
            }
        });
        function autoseachpro(none) {
            $.ajax({
                url: '/icts/products/SeachAuto',
                type: 'get',
                data: {
                    seach: none
                },
                success: function (data) {
                    $('#result').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let s = ' <p id="' + v.id + '" name="viewproduct">' + v.name + '( chi tiết)</p>';
                            $('#result').append(s);
                        });
                    }
                }
            });
        }
        var page = 1;
        var seach = '';
        //--------------------------------------------------category-------------------------------------------------------------------------------------------------------

        $('#btndanhmuc').click(function () {
            DanhMucSanPham(seach, page);
            $('#pageproductcategory').hide();
            $('#categorypage').show();
            $('#seachinputproductcategory').hide();
            $('#seachinput').show();
            $('#seachinputbrand').hide();
            $('#pagebrand').hide();
            $('#pageproduct').hide();
            $('#seachinputproduct').hide();
        });
        //modal add category
        $(document).on('click', "button[name='add']", function () {
            Add();
            $('#namedmsp').val('');
            $('#urldmsp').val('');
            $('#titledmsp').val('');
            $('#picturefile').val('');
            $('#createdate').prop('readonly', true);
            $('#createdate').val('');
            $('#modifiledate').prop('readonly', true);
            $('#modifiledate').val('');
            $('#createby').prop('readonly', true);
            $('#createby').val('');
            $('#modifileby').prop('readonly', true);
            $('#modifileby').val('');
            $('#statusdmsp').prop('checked', false);
            $('#statusimagedmsp').prop('checked', false);
            $('#iddmsp').val('');
            $('#btnSubmitdmsp').show();
        });
        //hien ten hinh
        $('#btnUpload').click(function () {
            $('#fileUpload').trigger('click');
        });
        //chon file
        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                let fileUpload = $('#fileUpload').get(0);
                let files = fileUpload.files;
                let formdata = new FormData();
                formdata.append('file', files[0]);
                $.ajax({
                    type: 'post',
                    url: '/icts/categories/UploadImage',
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (urlImage) {
                        $('#picture').attr('src', urlImage);
                        $('#picturefile').val(urlImage);
                    }
                })
            }

        });
        //confirm add/edit
        $('#btnSubmitdmsp').click(function () {
            let name = $('#namedmsp').val().trim();
            let url = $('#urldmsp').val().trim();
            let title = $('#titledmsp').val().trim();
            let image = $('#picturefile').val().trim();
            let status = $('#statusdmsp').prop('checked');
            let statusimage = $('#statusimagedmsp').prop('checked');
            //rang buộc dữ liệu
            if (name.length == 0 || image == null) {
                alert('Vui Long Nhập Đầy Đủ Dữ liệu');
                return;
            }
            let iddmsp = $('#iddmsp').val().trim();
            if (iddmsp.length == 0) {
                $.ajax({
                    url: '/icts/categories/AddDMSP',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        image: image,
                        status: status,
                        statusimage: statusimage
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            DanhMucSanPham(seach, page);
                            $('#namedmsp').val('');
                            $('#urldmsp').val('');
                            $('#titledmsp').val('');
                            $('#statusdmsp').prop('checked', false);
                            $('#statusimagedmsp').prop('checked', false);
                            $('#picturefile').val('');
                            $('#dmsp').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/categories/Edit',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        image: image,
                        status: status,
                        statusimage: statusimage,
                        id: iddmsp
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            DanhMucSanPham(seach, page);
                            $('#namedmsp').val('');
                            $('#urldmsp').val('');
                            $('#titledmsp').val('');
                            $('#statusdmsp').prop('checked', false);
                            $('#statusimagedmsp').prop('checked', false);
                            $('#picturefile').val('');
                            $('#iddmsp').val('');
                            $('#dmsp').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }


        });
        //phan trang
        $('#categorypage').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).attr('id');
            DanhMucSanPham(seach, page);
        });
        ////tim kiem

        $('#btnSeach').click(function () {
            page = 1;
            seach = $('#seach').val();
            DanhMucSanPham(seach, page);
        });
        $('#seach').on('keypress', function (e) {
            if (e.which == 13) {
                $('#btnSeach').click();
            }
        });
        //catchuoi
        $('#namedmsp').keyup(function () {
            $('#urldmsp').val(GetChuoi($(this).val()));
            $('#titledmsp').val($(this).val());
        });
        //Detail
        $(document).on('click', "button[name='view']", function () {
            let id = $(this).closest('tr').attr('id');
            Detail(id);
            $('#createdate').prop('readonly', true);
            $('#modifiledate').prop('readonly', true);
            $('#modifileby').prop('readonly', true);
            $('#createby').prop('readonly', true);
            $('#modifiledate').show();
            $('#modifileby').show();
            $('#btnSubmitdmsp').hide();
            $('#iddmsp').val('');
        });
        //Edit
        $(document).on('click', "button[name='update']", function () {
            let id = $(this).closest('tr').attr('id');
            Detail(id);
            $('#createdate').prop('readonly', true);
            $('#createby').prop('readonly', true);
            $('#modifiledate').prop('readonly', true);
            $('#modifileby').prop('readonly', true);
            $('#modalTitlecategory').text("Sửa Danh Mục Sản Phẩm");
            $('#btnSubmitdmsp').show();
            $('#iddmsp').val('');

        });
        //delete
        $(document).on('click', "button[name='delete']", function () {
            let id = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/categories/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Xóa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            DanhMucSanPham(seach, page)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        function DanhMucSanPham(seach, page) {
            $.ajax({
                url: '/icts/categories/DanhMucSanPham',
                type: 'get',
                data: {
                    page: page,
                    seach: seach
                },
                success: function (data) {
                    $('.Category').empty();
                    if (data.code == 200) {
                        let table = '<thead>';
                        table += '<tr>';
                        table += '<th>Tên Danh Mục</th>';
                        table += '<th>Ngày tạo/sửa</th>';
                        table += '<th>Tạo/Sửa bởi</th>';
                        table += '<th>Ảnh</th>';
                        table += '<th>Trạng thái</th>';
                        table += '<th>Trạng Thái Hình Ảnh Giao Diện</th>';
                        table += '<th></th>';
                        table += '<th> <button class = "btn btn-xs btn-success" name = "add" > <i class="fa-solid fa-plus"></i></button >&nbsp</th>';
                        table += '</tr>';
                        table += '</thead>';
                        table += '<tbody>';
                        $.each(data.dmsp, function (k, v) {
                            table += '<tr id="' + v.id + '">';
                            table += '<td>' + v.name + '</td>';
                            table += '<td>' + v.createdate + '</td>';
                            table += '<td>' + v.createby + '</td>';
                            table += '<td><img style="width:100px" src="/Images/' + v.image + '"</td>';
                            table += '<td>' + v.status + '</td>';
                            table += '<td>' + v.statusimage + '</td>';
                            table += '<td> <button class = "btn btn-xs btn-primary" name = "view" > <i class="fa-thin fa-circle-info"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-warning" name = "update" > <i class="fa-thin fa-wrench"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "delete" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            table += '</td>';
                            table += '<td></td>';
                            table += '</tr>';
                        });
                        table += '</tbody>';
                        $('.Category').append(table);
                        $('#categorypage').empty();
                        for (i = 1; i <= data.pages; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#categorypage').append(li);
                        }
                        let next = '<li class="page-item" id="' + (parseInt(page) + 1) + '"><a class="page-link" href="#">Next</a></li>';
                        $('#categorypage').append(next);
                        let li = $('#categorypage li#' + page + '');
                        $(li).addClass('active')
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function Detail(id) {
            $.ajax({
                url: '/icts/categories/Detail',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#iddmsp').val(data.tv.Id);
                        $('#namedmsp').val(data.tv.Name);
                        $('#urldmsp').val(data.tv.Meta);
                        $('#titledmsp').val(data.tv.Title);
                        $('#picturefile').val("/Images/" + data.tv.ImageId);
                        if (data.tv.Status == true) {
                            $('#statusdmsp').prop('checked', true);
                        } else {
                            $('#statusdmsp').prop('checked', false);
                        }
                        if (data.tv.StatusImage == true) {
                            $('#statusimagedmsp').prop('checked', true);
                        } else {
                            $('#statusimagedmsp').prop('checked', false);
                        }
                        $('#picture').attr('src', $('#picturefile').val())
                        $('#createdate').val(ConvertJsonDateString(data.tv.CreateDate));
                        $('#modifiledate').val(ConvertJsonDateString(data.tv.ModifileDate));
                        $('#createby').val(data.tv.CreateBy);
                        $('#modifileby').val(data.tv.ModifileBy);

                        $('#modalTitlecategory').text("Chi Tiết Danh Mục");
                        $('#dmsp').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function Add() {
            $.ajax({
                url: '/adminsss/Add',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#createdate').val(ConvertJsonDateString(data.date));
                        $('#createby').val(data.d);
                        $('#modalTitlecategory').text("Thêm Danh Mục Sản Phẩm");
                        $('#dmsp').modal();
                    }
                }
            });
        }
        //--------------------------------------------------productcategory-------------------------------------------------------------------------------------------------------
        $('#selectcategory').change(function () {
            ProductCategory(seach, page)
        })
        $('#btndanhmucsanpham').click(function () {
            ProductCategory(seach, page);
            $('#pageproductcategory').show();
            $('#categorypage').hide();
            $('#seachinputproductcategory').show();
            $('#seachinput').hide();
            $('#seachinputbrand').hide();
            $('#pagebrand').hide();
            $('#pageproduct').hide();
            $('#seachinputproduct').hide();
        });
        //modal add category
        $(document).on('click', "button[name='addproductcategory']", function () {
            AddProductcategory();
            $('#nameproductcategory').val('');
            $('#urlproductcategory').val('')
            $('#titleproductcategory').val('');
            $('#createdateproductcategory').prop('readonly', true);
            $('#createdateproductcategory').val('');
            $('#modifiledateproductcategory').prop('readonly', true);
            $('#modifiledateproductcategory').val('');
            $('#createbyproductcategory').prop('readonly', true);
            $('#createbyproductcategory').val('');
            $('#modifilebyproductcategory').prop('readonly', true);
            $('#modifilebyproductcategory').val('');
            $('#statusproductcategory').prop('checked', false);
            $('#idproductcategory').val('');
            $('#btnSubmitproductcategory').show();
        });
        //confirm add/edit
        $('#btnSubmitproductcategory').click(function () {
            let name = $('#nameproductcategory').val().trim();
            let url = $('#urlproductcategory').val().trim();
            let title = $('#titleproductcategory').val().trim();
            let namecategory = $('#namecategory').val();
            let status = $('#statusproductcategory').prop('checked');
            //rang buộc dữ liệu
            if (name.length == 0) {
                alert('Vui Long Nhập Đầy Đủ Dữ liệu');
                return;
            }
            let idproductcategory = $('#idproductcategory').val().trim();
            if (idproductcategory.length == 0) {
                $.ajax({
                    url: '/icts/productcategories/Add',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        namecategory: namecategory,
                        status: status
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            ProductCategory(seach, page);
                            $('#nameproductcategory').val('');
                            $('#urlproductcategory').val('');
                            $('#titleproductcategory').val('');
                            $('#modalproductcategory').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/productcategories/Edit',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        namecategory: namecategory,
                        status: status,
                        id: idproductcategory
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            ProductCategory(seach, page);
                            $('#nameproductcategory').val('');
                            $('#urlproductcategory').val('');
                            $('#titleproductcategory').val('');
                            $('#idproductcategory').val('');
                            $('#modalproductcategory').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });
        //phan trang
        $('#pageproductcategory').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).attr('id');
            ProductCategory(seach, page);
        });
        ////tim kiem
        $('#btnSeachproductcategory').click(function () {
            page = 1;
            seach = $('#seachproductcategory').val();
            ProductCategory(seach, page);
        });
        $('#seachproductcategory').on('keypress', function (e) {
            if (e.which == 13) {
                $('#btnSeachproductcategory').click();
            }
        });
        //catchuoi
        $('#nameproductcategory').keyup(function () {
            $('#urlproductcategory').val(GetChuoi($(this).val()));
            $('#titleproductcategory').val($(this).val());
        });
        //Detail
        $(document).on('click', "button[name='viewproductcategory']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailProductcategory(id);
            $('#createdateproductcategory').prop('readonly', true);
            $('#modifiledateproductcategory').prop('readonly', true);
            $('#modifilebyproductcategory').prop('readonly', true);
            $('#createbyproductcategory').prop('readonly', true);
            $('#btnSubmitproductcategory').hide();
            $('#idproductcategory').val('');
        });
        //Edit
        $(document).on('click', "button[name='updateproductcategory']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailProductcategory(id);
            $('#createdateproductcategory').prop('readonly', true);
            $('#createbyproductcategory').prop('readonly', true);
            $('#modifiledateproductcategory').prop('readonly', true);
            $('#modifilebyproductcategory').prop('readonly', true);
            $('#modalTitleproductcategory').text("Sửa Loại Sản Phẩm");
            $('#btnSubmitproductcategory').show();
            $('#idproductcategory').val('');

        });
        //delete
        $(document).on('click', "button[name='deleteproductcategory']", function () {
            let id = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/productcategories/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Xóa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            ProductCategory(seach, page)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        function ProductCategory(seach, page) {
            let idselectcategory = $('#selectcategory option:selected').val();
            $.ajax({
                url: '/icts/productcategories/ProductCategory',
                type: 'get',
                data: {
                    id: idselectcategory,
                    page: page,
                    seach: seach
                },
                success: function (data) {
                    $('.Productcategory').empty();
                    if (data.code == 200) {
                        let table = '<thead>';
                        table += '<tr>';
                        table += '<th>Tên Danh Mục</th>';
                        table += '<th>Tên Loại Sản Phẩm</th>';
                        table += '<th>Trạng thái</th>';
                        table += '<th></th>';
                        table += '<th> <button class = "btn btn-xs btn-success" name = "addproductcategory" > <i class="fa-solid fa-plus"></i></button >&nbsp</th>';
                        table += '</tr>';
                        table += '</thead>';
                        table += '<tbody>';
                        $.each(data.dmsp, function (k, v) {
                            table += '<tr id="' + v.id + '">';
                            table += '<td>' + v.namecategory + '</td>';
                            table += '<td>' + v.name + '</td>';
                            table += '<td>' + v.status + '</td>';
                            table += '<td> <button class = "btn btn-xs btn-primary" name = "viewproductcategory" > <i class="fa-thin fa-circle-info"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-warning" name = "updateproductcategory" > <i class="fa-thin fa-wrench"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "deleteproductcategory" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            table += '</td>';
                            table += '<td></td>';
                            table += '</tr>';
                        });
                        table += '</tbody>';
                        $('.Productcategory').append(table);
                        $('#pageproductcategory').empty();
                        for (i = 1; i <= data.pages; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#pageproductcategory').append(li);
                        }
                        let next = '<li class="page-item" id="' + (parseInt(page) + 1) + '"><a class="page-link" href="#">Next</a></li>';
                        $('#pageproductcategory').append(next);
                        let li = $('#pageproductcategory li#' + page + '');
                        $(li).addClass('active')
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function DetailProductcategory(id) {
            $.ajax({
                url: '/icts/productcategories/Detail',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#idproductcategory').val(data.tv.Id);
                        $('#nameproductcategory').val(data.tv.Name);
                        $('#namecategory').val(data.tv.IdCategory);
                        if (data.tv.Status == true) {
                            $('#statusproductcategory').prop('checked', true);
                        } else {
                            $('#statusproductcategory').prop('checked', false);
                        }
                        $('#createdateproductcategory').val(ConvertJsonDateString(data.tv.CreateDate));
                        $('#modifiledateproductcategory').val(ConvertJsonDateString(data.tv.ModifileDate));
                        $('#createbyproductcategory').val(data.tv.CreateBy);
                        $('#modifilebyproductcategory').val(data.tv.ModifileBy);

                        $('#modalTitleproductcategory').text("Chi Tiết Loại Sản Phẩm");
                        $('#modalproductcategory').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function AddProductcategory() {
            $.ajax({
                url: '/adminsss/Add',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#createdateproductcategory').val(ConvertJsonDateString(data.date));
                        $('#createbyproductcategory').val(data.d);
                        $('#modalTitleproductcategory').text("Thêm Loại Sản Phẩm");
                        $('#modalproductcategory').modal();
                    }
                }
            });
        }
        function ProductCategoryId() {
            $.ajax({
                url: '/icts/categories/ProductCategoryById',
                type: 'get',
                success: function (data) {
                    $('#namecategory').empty();
                    $('#selectcategory').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let option = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                            let option1 = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                            $('#namecategory').append(option);
                            $('#selectcategory').append(option1);
                        })
                    }
                }
            });
        }
        //--------------------------------------------------brand-------------------------------------------------------------------------------------------------------
        $('#btnthuonghieu').click(function () {
            Brand(seach, page);
            $('#pageproductcategory').hide();
            $('#categorypage').hide();
            $('#seachinputproductcategory').hide();
            $('#seachinput').hide();
            $('#seachinputbrand').show();
            $('#pagebrand').show();
            $('#pageproduct').hide();
            $('#seachinputproduct').hide();
        });
        //modal add category
        $(document).on('click', "button[name='addbrand']", function () {
            AddBrand();
            $('#namebrand').val('');
            $('#urlbrand').val('');
            $('#titlebrand').val('');
            $('#createbrand').prop('readonly', true);
            $('#createdatebrand').val('');
            $('#modifiledatebrand').prop('readonly', true);
            $('#modifiledatebrand').val('');
            $('#createbybrand').prop('readonly', true);
            $('#createbybrand').val('');
            $('#modifilebybrand').prop('readonly', true);
            $('#modifilebybrand').val('');
            $('#statusbrand').prop('checked', false);
            $('#idbrand').val('');
            $('#btnSubmitbrand').show();
        });
        //confirm add/edit
        $('#btnSubmitbrand').click(function () {
            let name = $('#namebrand').val().trim();
            let url = $('#urlbrand').val().trim();
            let title = $('#titlebrand').val().trim();
            let status = $('#statusbrand').prop('checked');
            //rang buộc dữ liệu
            if (name.length == 0) {
                alert('Vui Long Nhập Đầy Đủ Dữ liệu');
                return;
            }
            let idbrand = $('#idbrand').val().trim();
            if (idbrand.length == 0) {
                $.ajax({
                    url: '/icts/brands/Add',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        status: status
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Brand(seach, page);
                            $('#namebrand').val('');
                            $('#urlbrand').val('');
                            $('#titlebrand').val('');
                            $('#modalbrand').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/brands/Edit',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        status: status,
                        id: idbrand
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Brand(seach, page);
                            $('#namebrand').val('');
                            $('#urlbrand').val('');
                            $('#titlebrand').val('');
                            $('#idbrand').val('');
                            $('#modalbrand').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });
        //phan trang
        $('#pagebrand').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).attr('id');
            Brand(seach, page);
        });
        ////tim kiem
        $('#btnSeachbrand').click(function () {
            page = 1;
            seach = $('#seachbrand').val();
            Brand(seach, page);
        });
        $('#seachbrand').on('keypress', function (e) {
            if (e.which == 13) {
                $('#btnSeachbrand').click();
            }
        });
        //catchuoi
        $('#namebrand').keyup(function () {
            $('#urlbrand').val(GetChuoi($(this).val()));
            $('#titlebrand').val($(this).val());
        });
        //Detail
        $(document).on('click', "button[name='viewbrand']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailBrand(id);
            $('#createdatebrand').prop('readonly', true);
            $('#modifiledatebrand').prop('readonly', true);
            $('#modifilebybrand').prop('readonly', true);
            $('#createbybrand').prop('readonly', true);
            $('#btnSubmitbrand').hide();
            $('#idbrand').val('');
        });
        //Edit
        $(document).on('click', "button[name='updatebrand']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailBrand(id);
            $('#createdatebrand').prop('readonly', true);
            $('#createbybrand').prop('readonly', true);
            $('#modifiledatebrand').prop('readonly', true);
            $('#modifilebybrand').prop('readonly', true);
            $('#modalTitlebrand').text("Sửa Thương Hiệu");
            $('#btnSubmitbrand').show();
            $('#idbrand').val('');

        });
        //delete
        $(document).on('click', "button[name='deletebrand']", function () {
            let id = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/brands/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Xóa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Brand(seach, page)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        function Brand(seach, page) {
            $.ajax({
                url: '/icts/brands/Brand',
                type: 'get',
                data: {
                    page: page,
                    seach: seach
                },
                success: function (data) {
                    $('.Brand').empty();
                    if (data.code == 200) {
                        let table = '<thead>';
                        table += '<tr>';
                        table += '<th>Tên Thương Hiệu</th>';
                        table += '<th>Trạng thái</th>';
                        table += '<th></th>';
                        table += '<th> <button class = "btn btn-xs btn-success" name = "addbrand" > <i class="fa-solid fa-plus"></i></button >&nbsp</th>';
                        table += '</tr>';
                        table += '</thead>';
                        table += '<tbody class="order_position1">';
                        $.each(data.dmsp, function (k, v) {
                            table += '<tr id="' + v.id + '">';
                            table += '<td>' + v.name + '</td>';
                            table += '<td>' + v.status + '</td>';
                            table += '<td> <button class = "btn btn-xs btn-primary" name = "viewbrand" > <i class="fa-thin fa-circle-info"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-warning" name = "updatebrand" > <i class="fa-thin fa-wrench"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "deletebrand" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            table += '</td>';
                            table += '<td></td>';
                            table += '</tr>';
                        });
                        table += '</tbody>';
                        $('.Brand').append(table);
                        $('#pagebrand').empty();
                        for (i = 1; i <= data.pages; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#pagebrand').append(li);
                        }
                        let next = '<li class="page-item" id="' + (parseInt(page) + 1) + '"><a class="page-link" href="#">Next</a></li>';
                        $('#pagebrand').append(next);
                        let li = $('#pagebrand li#' + page + '');
                        $(li).addClass('active')
                        $('.order_position1').sortable({
                            placeholder: 'ui-state-highlight',
                        });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function DetailBrand(id) {
            $.ajax({
                url: '/icts/brands/Detail',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#idbrand').val(data.tv.Id);
                        $('#namebrand').val(data.tv.Name);
                        if (data.tv.Status == true) {
                            $('#statusbrand').prop('checked', true);
                        } else {
                            $('#statusbrand').prop('checked', false);
                        }
                        $('#createdatebrand').val(ConvertJsonDateString(data.tv.CreateDate));
                        $('#modifiledatebrand').val(ConvertJsonDateString(data.tv.ModifileDate));
                        $('#createbybrand').val(data.tv.CreateBy);
                        $('#modifilebybrand').val(data.tv.ModifileBy);

                        $('#modalTitlebrand').text("Chi Tiết Thương Hiệu");
                        $('#modalbrand').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function AddBrand() {
            $.ajax({
                url: '/adminsss/Add',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#createdatebrand').val(ConvertJsonDateString(data.date));
                        $('#createbybrand').val(data.d);
                        $('#modalTitlebrand').text("Thêm Thương Hiệu");
                        $('#modalbrand').modal();
                    }
                }
            });
        }
        //--------------------------------------------------product-------------------------------------------------------------------------------------------------------
        $('#selectproductcategory').change(function () {
            Product(seach, page)
        })
        $('#selectbrand').change(function () {
            Product(seach, page)
        })
        $('#btnsanpham').click(function () {
            $('#pageproductcategory').hide();
            $('#categorypage').hide();
            $('#seachinputproductcategory').hide();
            $('#seachinput').hide();
            $('#seachinputbrand').hide();
            $('#pagebrand').hide();
            $('#pageproduct').show();
            $('#seachinputproduct').show();
        });
        //modal add category
        $(document).on('click', "button[name='addproduct']", function () {
            AddProduct();
            $('#nameproduct').val('');
            $('#urlproduct').val('');
            $('#titleproduct').val('');
            $('#thongso').summernote('code', '');
            $('#picturefileproduct').val('');
            $('#createdateproduct').prop('readonly', true);
            $('#createdateproduct').val('');
            $('#modifiledateproduct').prop('readonly', true);
            $('#modifiledateproduct').val('');
            $('#createbyproduct').prop('readonly', true);
            $('#createbyproduct').val('');
            $('#modifilebyproduct').prop('readonly', true);
            $('#modifilebyproduct').val('');
            $('#statusproduct').prop('checked', false);
            $('#idproduct').val('');
            $('#btnSubmitproduct').show();
            $('#btnSubmitdetailproduct').hide();
            $('#btnSubmitimageadd').hide();
            $('#modalTitleproduct').text("Thêm Sản Phẩm");
            $('#hide').show();
        });
        //hien ten hinh
        $('#btnUploadproduct').click(function () {
            $('#fileUploadproduct').trigger('click');
        });
        //chon file
        $('#fileUploadproduct').change(function () {
            if (window.FormData !== undefined) {
                let fileUpload = $('#fileUploadproduct').get(0);
                let files = fileUpload.files;
                let formdata = new FormData();
                formdata.append('file', files[0]);
                $.ajax({
                    type: 'post',
                    url: '/icts/products/UploadImage',
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (urlImage) {
                        $('#pictureproduct').attr('src', urlImage);
                        $('#picturefileproduct').val(urlImage);
                    }
                })
            }

        });
        //confirm add/edit
        $('#btnSubmitproduct').click(function () {
            let name = $('#nameproduct').val().trim();
            let nameproductcategoryid = parseInt($('#selectproductcategory option:selected').val());
            let namebrandid = parseInt($('#selectbrand option:selected').val());
            let thongso = $('#thongso').summernote('code');
            let url = $('#urlproduct').val().trim();
            let title = $('#titleproduct').val().trim();
            let image = $('#picturefileproduct').val().trim();
            let status = $('#statusproduct').prop('checked');
            //rang buộc dữ liệu
            if (name.length == 0 || image == null) {
                alert('Vui Long Nhập Đầy Đủ Dữ liệu');
                return;
            }
            let idproduct = $('#idproduct').val();
            if (idproduct.length == 0) {
                $.ajax({
                    url: '/icts/products/Add',
                    type: 'post',
                    data: {
                        name: name,
                        nameproductcategory: nameproductcategoryid,
                        namebrand: namebrandid,
                        thongso: thongso,
                        url: url,
                        title: title,
                        image: image,
                        status: status
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Product(seach, page);
                            $('#nameproduct').val('');
                            $('#urlproduct').val('');
                            $('#titleproduct').val('');
                            $('#statusproduct').prop('checked', false);
                            $('#picturefileproduct').val('');
                            $('#modalproduct').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/products/Edit',
                    type: 'post',
                    data: {
                        name: name,
                        nameproductcategory: nameproductcategoryid,
                        namebrand: namebrandid,
                        thongso: thongso,
                        url: url,
                        title: title,
                        image: image,
                        status: status,
                        id: idproduct
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Product(seach, page);
                            $('#nameproduct').val('');
                            $('#urlproduct').val('');
                            $('#titleproduct').val('');
                            $('#statusproduct').prop('checked', false);
                            $('#picturefileproduct').val('');
                            $('#modalproduct').modal('hide');
                            $('#idproduct').val('');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }


        });
        //phan trang
        $('#pageproduct').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).attr('id');
            Product(seach, page);
        });
        ////tim kiem
        $('#btnSeachproduct').click(function () {
            page = 1;
            seach = $('#seachproduct').val();
            Product(seach, page);
        });
        $('#seachproduct').on('keypress', function (e) {
            if (e.which == 13) {
                $('#btnSeachproduct').click();
            }
        });
        //catchuoi
        $('#nameproduct').keyup(function () {
            $('#urlproduct').val(GetChuoi($(this).val()));
            $('#titleproduct').val($(this).val());
        });
        //Detail
        $(document).on('click', "button[name='viewproduct']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailProduct(id);
            $('#createdateproduct').prop('readonly', true);
            $('#modifiledateproduct').prop('readonly', true);
            $('#modifilebyproduct').prop('readonly', true);
            $('#createbyproduct').prop('readonly', true);
            $('#modifiledateproduct').show();
            $('#modifilebyproduct').show();
            $('#btnSubmitproduct').hide();
            $('#btnSubmitdetailproduct').hide();
            $('#btnSubmitimageadd').hide();
            $('#idproduct').val('');
        });
        //Edit
        $(document).on('click', "button[name='updateproduct']", function () {
            let id = $(this).closest('tr').attr('id');
            DetailProduct(id);
            $('#createdateproduct').prop('readonly', true);
            $('#createbyproduct').prop('readonly', true);
            $('#modifiledateproduct').prop('readonly', true);
            $('#modifilebyproduct').prop('readonly', true);
            $('#modalTitleproduct').text("Sửa Sản Phẩm");
            $('#btnSubmitproduct').show();
            $('#btnSubmitdetailproduct').show();
            $('#btnSubmitimageadd').show();
            $('#idproduct').val('');

        });
        //delete
        $(document).on('click', "button[name='deleteproduct']", function () {
            let id = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/products/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Xóa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            Product(seach, page)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        //sap xep
        function Product(seach, page) {
            let idselectproductcategory = $('#selectproductcategory option:selected').val();
            let idselectbrand = $('#selectbrand option:selected').val();
            $.ajax({
                url: '/icts/products/Product',
                type: 'get',
                data: {
                    idprocate: idselectproductcategory,
                    idbr: idselectbrand,
                    page: page,
                    seach: seach
                },
                success: function (data) {
                    $('.Product').empty();
                    if (data.code == 200) {

                        let table = '<thead>';
                        table += '<tr>';
                        table += '<th>Tên Danh Mục Sản Phẩm</th>';
                        table += '<th>Tên Loại Sản Phẩm</th>';
                        table += '<th>Tên Thương Hiệu</th>';
                        table += '<th>Tên Sản Phẩm</th>';
                        table += '<th>Ảnh</th>';
                        table += '<th>Trạng thái</th>';
                        table += '<th></th>';
                        table += '<th> <button class = "btn btn-xs btn-success" name = "addproduct" > <i class="fa-solid fa-plus"></i></button >&nbsp</th>';
                        table += '</tr>';
                        table += '</thead>';
                        table += '<tbody class="order_position">';
                        $.each(data.dmsp, function (k, v) {
                            table += '<tr id="' + v.id + '">';
                            table += '<td>' + v.namecategory + '</td>';
                            table += '<td>' + v.nameproductcategory + '</td>';
                            table += '<td>' + v.namebrand + '</td>';
                            table += '<td>' + v.name + '</td>';
                            table += '<td><img style="width:100px" src="/Images/' + v.image + '"/></td>';
                            table += '<td>' + v.status + '</td>';
                            table += '<td> <button class = "btn btn-xs btn-primary" name = "viewproduct" > <i class="fa-thin fa-circle-info"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-warning" name = "updateproduct" > <i class="fa-thin fa-wrench"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "deleteproduct" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "imageadd" > <i class="fa-thin fa-images"></i></button >&nbsp';
                            table += '</td>';
                            table += '<td></td>';
                            table += '</tr>';
                        });
                        table += '</tbody>';
                        $('.Product').append(table);
                        $('#pageproduct').empty();

                        for (let i = 1; i <= data.pages; i++) {
                            $('#pageproduct').empty();
                            for (let j = page; j <= (parseInt(page) + 4); j++) {
                                if (j <= data.pages) {
                                    let li = '<li class="page-item" id="' + j + '"><a class="page-link" href="#">' + j + '</a></li>';
                                    $('#pageproduct').append(li);
                                }

                            }
                        }
                        if (parseInt(page) > 1) {
                            let Previous = '<li class="page-item" id="' + (parseInt(page) - 1) + '"><a  class="page-link" href="#">Previous</a></li>';
                            $('#pageproduct').append(Previous);
                        }

                        let next = '<li class="page-item" id="' + (parseInt(page) + 1) + '"><a name="nextpage" class="page-link" href="#">Next</a></li>';
                        $('#pageproduct').append(next);
                        let li = $('#pageproduct li#' + page + '');
                        $(li).addClass('active')
                        $('.order_position').sortable({
                            placeholder: 'ui-state-highlight',
                        });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function DetailProduct(id) {
            $.ajax({
                url: '/icts/products/Detail',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#idproduct').val(data.tv.Id);
                        $('#nameproduct').val(data.tv.Name);
                        $('#namebrandid').val(data.tv.IdBrand);
                        $('#urlproduct').val(data.tv.Meta);
                        $('#titleproduct').val(data.tv.Title);
                        $('#thongso').summernote('code', data.tv.Content);
                        $('#picturefileproduct').val("/Images/" + data.tv.Image);
                        if (data.tv.Status == true) {
                            $('#statusproduct').prop('checked', true);
                        } else {
                            $('#statusproduct').prop('checked', false);
                        }
                        $('#pictureproduct').attr('src', $('#picturefileproduct').val())
                        $('#createdateproduct').val(ConvertJsonDateString(data.tv.CreateDate));
                        $('#modifiledateproduct').val(ConvertJsonDateString(data.tv.ModifileDate));
                        $('#createbyproduct').val(data.tv.CreateBy);
                        $('#modifilebyproduct').val(data.tv.ModifileBy);
                        $('#modalTitleproduct').text("Chi Tiết Sản Phẩm");
                        $('#modalproduct').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function AddProduct() {
            $.ajax({
                url: '/adminsss/Add',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#createdateproduct').val(ConvertJsonDateString(data.date));
                        $('#createbyproduct').val(data.d);
                        $('#modalTitle').text("Thêm Sản Phẩm");
                        $('#modalproduct').modal();
                    }
                }
            });
        }
        function ProductCategoryById() {
            $.ajax({
                url: '/icts/categories/ProductCategoryById',
                type: 'get',
                success: function (data) {
                    $('#namecategoryid').empty();
                    $('#selectcategory1').empty();
                    let option1 = '<option >All</option>';
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let option = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                             option1 += '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                            $('#namecategoryid').append(option);
                           
                        })
                        $('#selectcategory1').append(option1);
                        ProductCateId();
                    }
                }
            });
        }
        function ProductId() {
            $('#namecategoryid').change(function () {
                var id = $(this).find(':selected')[0].id;
                $.ajax({
                    url: '/icts/products/ProductById',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        $('#nameproductcategoryid').empty();
                        if (data.code == 200) {
                            $.each(data.dmsp, function (k, v) {
                                let option = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                                $('#nameproductcategoryid').append(option);
                            })
                        }
                    }
                });
            });
        }
        function ProductCateId() {
            $('#selectcategory1').change(function () {
                var id = $(this).find(':selected')[0].id;
                $.ajax({
                    url: '/icts/products/ProductById',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        $('#selectproductcategory').empty();
                        let option = '<option>All</option>';
                        if (data.code == 200) {
                            $.each(data.dmsp, function (k, v) {
                                 option += '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';                               
                            })
                            $('#selectproductcategory').append(option);
                        }
                    }
                });
            });
        }
        function BrandById() {
            $.ajax({
                url: '/icts/products/BrandById',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#namebrandid').empty();
                        $('#selectbrand').empty();
                        $.each(data.dmsp, function (k, v) {
                            let option = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                            let option1 = '<option id="' + v.id + '" value="' + v.id + '">' + v.name + '</option>';
                            $('#namebrandid').append(option);
                            $('#selectbrand').append(option1);
                        })
                    }
                }
            });
        }

        //--------------------------------------------------detailproduct-------------------------------------------------------------------------------------------------------
        //modal add category
        $('#btnSubmitdetailproduct').on('click', function () {
            let id = $('#idproduct').val().trim();
            $('#modalproduct').hide();
            $.ajax({
                url: '/detailproducts/Id',
                type: 'get',
                success: function (data) {
                    $('#id').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let div = '<input hidden type="text"  class="iddetailproduct" id="' + v.idproduct + '" />';
                            $('#id').append(div)
                        })
                    }
                }
            })
            DetailProductDetail(id)
        });
        //confirm add/edit
        $('#btnSubmitOK').click(function () {
            let application = $('#applicationdetailproduct').summernote('code');
            let dec = $('#decdetailproduct').summernote('code');
            let dectech = $('#dectechdetailproduct').summernote('code');
            let option = $('#optiondetailproduct').summernote('code');
            var ids = $('.iddetailproduct').map(function (_, x) { return x.id; }).get();
            let id = $('#idproduct').val().trim();
            let name = $('#nameproduct').val().trim();
            console.log(name)
            var c = ids.includes('' + id + '')
            if (c == true) {
                $.ajax({
                    url: '/detailproducts/Edit',
                    type: 'post',
                    data: {
                        application: application,
                        dec: dec,
                        dectech: dectech,
                        option: option,
                        name: name,
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });

                        }
                    }
                })
            } else {
                $.ajax({
                    url: '/detailproducts/Add',
                    type: 'post',
                    data: {
                        application: application,
                        dec: dec,
                        dectech: dectech,
                        option: option,
                        name:name,
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    }
                })
            }

        });
        function DetailProductDetail(id) {
            var ids = $('.iddetailproduct').map(function (_, x) { return x.id; }).get();
            var c = ids.includes('' + id + '')
            if (c == true) {
                $.ajax({
                    url: '/icts/detailproducts/Detail',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            $('#applicationdetailproduct').summernote('code', data.tv.C_content_Application);
                            $('#decdetailproduct').summernote('code', data.tv.C_content_Dec);
                            $('#dectechdetailproduct').summernote('code', data.tv.C_content_DecTech);
                            $('#optiondetailproduct').summernote('code', data.tv.C_content_Option);
                            $('#modalTitledetailproduct').text("Chi Tiết Sản Phẩm");
                            $('#modaldetailproduct').modal();
                        } else {
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/detailproducts/Detail',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            $('#applicationdetailproduct').summernote('code', '');
                            $('#decdetailproduct').summernote('code', '');
                            $('#dectechdetailproduct').summernote('code', '');
                            $('#optiondetailproduct').summernote('code', '');
                            $('#modalTitledetailproduct').text("Chi Tiết Sản Phẩm");
                            $('#modaldetailproduct').modal();
                        } else {
                        }
                    }
                });
            }

        }
        $('#dong').click(function () {
            $('#modalproduct').show()
            $('#modaldetailproduct').hide()
        })
        //--------------------------------------------------imageadd-------------------------------------------------------------------------------------------------------
        //modal add category
        $(document).on('click', "button[name='imageadd']", function () {
            let id = $(this).closest('tr').attr('id');
            $('#modalproduct').hide();
            $('#modalimageadd').show();
            $('#modalTitleimageadd').text("Thêm ảnh");
            ImageAdd(id)
            $('#idimageadd').val(id);

        });
        //hien ten hinh
        $('#btnUploadimageadd').click(function () {
            $('#fileUploadimageadd').trigger('click');

        });
        //chon file
        $('#fileUploadimageadd').change(function () {
            if (window.FormData !== undefined) {
                let fileUpload = $('#fileUploadimageadd').get(0);
                let files = fileUpload.files;
                let formdata = new FormData();
                formdata.append('file', files[0]);
                $.ajax({
                    type: 'post',
                    url: '/icts/imageadds/UploadImage',
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (urlImage) {
                        $('#pictureimageadd').attr('src', urlImage);
                        $('#picturefileimageadd').val(urlImage);

                    }
                })
            }
        })
        //add

        $('#btnSubmitimageaddok').click(function () {
            let image = $('#picturefileimageadd').val().trim();
            let ids = $('#idimageadd').val().trim(); console.log(ids)
            $.ajax({
                type: 'post',
                url: '/icts/imageadds/Add',
                data: {
                    id: ids,
                    image: image
                },
                success: function (data) {
                    if (data.code == 200) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Thêm Thành Công",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        ImageAdd(ids)
                    }
                }
            })
        })
        //delete
        $(document).on('click', "button[name='deleteimageadd']", function () {
            let id = $(this).closest('tr').attr('id');
            let ids = $('#idimageadd').val().trim();
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/imageadds/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Xóa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            ImageAdd(ids)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        function ImageAdd(id) {
            $.ajax({
                url: '/imageadds/Id',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    var stt = 1;
                    $('#tbd').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let tr = '<tr id="' + v.id + '">';
                            tr += '<td>' + (stt++) + '</td>';
                            tr += '<td><img style="width:50px" src="/Images/' + v.image + '"</td>';
                            tr += '<td>';
                            tr += ' <button class = "btn btn-xs btn-danger" name = "deleteimageadd" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            tr += '</td>';
                            tr += '</tr>';
                            $('#tbd').append(tr)
                        })
                    }
                }
            })
        }
        $('#dongimageadd').click(function () {
            $('#modalimageadd').hide()
            $('#idimageadd').val('');
        })
        //convert date string
        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                shortDate = monthString + '/' + dayString + '/' + year;
            }
            return shortDate;
        };
        $(document).ready(function () {
            $('.summernote').summernote();
            $('#applicationdetailproduct').summernote();
            $('#decdetailproduct').summernote();
            $('#dectechdetailproduct').summernote();
            $('#optiondetailproduct').summernote();
            $('.modal-dialog').css("max-width", "1000px")
            DanhMucSanPham(seach, page);
            ProductCategoryId()
            ProductCategoryById()
            ProductId()
            BrandById()
            $('#pageproductcategory').hide();
            $('#seachinputproductcategory').hide();
            $('#seachinputbrand').hide();
            $('#pagebrand').hide();
            $('#pageproduct').hide();
            $('#seachinputproduct').hide();
            document.getElementById("trangchu").style.visibility = "hidden";
            document.getElementById("giaiphap").style.visibility = "hidden";
            document.getElementById("download").style.visibility = "hidden";
            document.getElementById("service").style.visibility = "hidden";
            document.getElementById("sanpham").style.visibility = "visible";
            document.getElementById("thuonghieu").style.visibility = "visible";
            document.getElementById("chitietsanpham").style.visibility = "visible";
            document.getElementById("blog").style.visibility = "hidden";
        })
    </script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
}