@model IEnumerable<ICTS.com.Models.Category>
@{
    ViewBag.Title = "k";
    Layout = "~/Areas/ICTS/Views/Shared/_Layout_Admin.cshtml";
}
<div>
    <ul class="pagination" id="categorypage">
    </ul>
</div>
<div id="seachinput" class="input-group">
    <div class="form-outline">
        <input type="search" id="seach" class="form-control" placeholder="Danh Mục Sản Phẩm" />
    </div>
    <button type="button" id="btnSeach" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</div>
<table class="table Category">
</table>
@*-----------------modal category------------------*@
<div id="dmsp" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitlecategory"></div>
                <input type="text" hidden id="iddmsp" value="" />
                <div class="form-group" style="margin-left:20px">
                    <label>Tên danh mục sản phẩm</label>
                    <input type="text" class="form-control" id="namedmsp" placeholder="Tên danh mục">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control" hidden id="urldmsp" placeholder="url">
                </div>
                <div class="form-group" style="margin-left:20px">
                    <input type="text" class="form-control hidden" hidden id="titledmsp" placeholder="title">
                </div>

                <div class="form-inline">
                    <label>Chọn ảnh</label>
                    <input type="text" name="picture" id="picturefile" class="form-control" />
                    <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none" />
                    <input type="button" id="btnUpload" value="..." class="btn-bg-success" />
                    <img style="width:100px" id="picture" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng thái</label>
                            <input type="checkbox" class="form-control" id="statusdmsp" placeholder="Trạng thái">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Trạng Thái Hình Ảnh Giao Diện</label>
                            <input type="checkbox" class="form-control" id="statusimagedmsp" placeholder="Trạng thái">
                        </div>
                    </div>
                </div>          
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày tạo</label>
                            <input type="text" class="form-control" id="createdate">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Ngày sửa</label>
                            <input type="text" class="form-control" id="modifiledate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người tạo</label>
                            <input type="text" class="form-control" id="createby" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left:20px">
                            <label>Người sửa</label>
                            <input type="text" class="form-control" id="modifileby" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmitdmsp">Xác Nhận</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var page = 1;
        var seach = '';
        //--------------------------------------------------category-------------------------------------------------------------------------------------------------------
        $('#btndanhmuc').click(function () {
            DanhMucSanPham(seach, page);
        });
        //modal add category
        $(document).on('click', "button[name='add']", function () {
            Add();
            $('#namedmsp').val('');
            $('#urldmsp').prop('file', false);
            $('#titledmsp').val('');
            $('#picturefile').val('');
            $('#createdate').prop('readonly', true);
            $('#createdate').val('');
            $('#modifiledate').prop('readonly', true);
            $('#modifiledate').val('');
            $('#createby').prop('readonly', true);
            $('#createby').val('');
            $('#modifileby').prop('readonly', true);
            $('#modifileby').val('');
            $('#statusdmsp').prop('checked', false);
            $('#statusimagedmsp').prop('checked', false);
            $('#iddmsp').val('');
            $('#btnSubmitdmsp').show();
        });
        //hien ten hinh
        $('#btnUpload').click(function () {
            $('#fileUpload').trigger('click');
        });
        //chon file
        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                let fileUpload = $('#fileUpload').get(0);
                let files = fileUpload.files;
                let formdata = new FormData();
                formdata.append('file', files[0]);
                $.ajax({
                    type: 'post',
                    url: '/icts/categories/UploadImage',
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (urlImage) {
                        $('#picture').attr('src', urlImage);
                        $('#picturefile').val(urlImage);
                    }
                })
            }

        });
        //confirm add/edit
        $('#btnSubmitdmsp').click(function () {
            let name = $('#namedmsp').val().trim();
            let url = $('#urldmsp').val().trim();
            let title = $('#titledmsp').val().trim();
            let image = $('#picturefile').val().trim();
            let status = $('#statusdmsp').prop('checked');
            let statusimage = $('#statusimagedmsp').prop('checked');
            //rang buộc dữ liệu
            if (name.length == 0 || image == null) {
                alert('Vui Long Nhập Đầy Đủ Dữ liệu');
                return;
            }
            let iddmsp = $('#iddmsp').val().trim();
            if (iddmsp.length == 0) {
                $.ajax({
                    url: '/icts/categories/AddDMSP',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        image: image,
                        status: status,
                        statusimage: statusimage
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Thêm Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            DanhMucSanPham(seach, page);
                            $('#namedmsp').val('');
                            $('#urldmsp').val('');
                            $('#titledmsp').val('');
                            $('#statusdmsp').prop('checked', false);
                            $('#statusimagedmsp').prop('checked', false);
                            $('#picturefile').val('');
                            $('#dmsp').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/icts/categories/Edit',
                    type: 'post',
                    data: {
                        name: name,
                        url: url,
                        title: title,
                        image: image,
                        status: status,
                        statusimage: statusimage,
                        id: iddmsp
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Sửa Thành Công",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            DanhMucSanPham(seach, page);
                            $('#namedmsp').val('');
                            $('#urldmsp').val('');
                            $('#titledmsp').val('');
                            $('#statusdmsp').prop('checked', false);
                            $('#statusimagedmsp').prop('checked', false);
                            $('#picturefile').val('');
                            $('#iddmsp').val('');
                            $('#dmsp').modal('hide');
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }


        });
        //phan trang
        $('#categorypage').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).attr('id');
            DanhMucSanPham(seach, page);
        });
        ////tim kiem
        $('#btnSeach').click(function () {
            page = 1;
            seach = $('#seach').val();
            DanhMucSanPham(seach, page);
        });
        $('#seach').on('keypress', function (e) {
            if (e.which == 13) {
                $('#btnSeach').click();
            }
        });
        //catchuoi
        $('#namedmsp').keyup(function () {
            $('#urldmsp').val(GetChuoi($(this).val()));
            $('#titledmsp').val($(this).val());
        });
        //Detail
        $(document).on('click', "button[name='view']", function () {
            let id = $(this).closest('tr').attr('id');
            Detail(id);
            $('#createdate').prop('readonly', true);
            $('#modifiledate').prop('readonly', true);
            $('#modifileby').prop('readonly', true);
            $('#createby').prop('readonly', true);
            $('#modifiledate').show();
            $('#modifileby').show();
            $('#btnSubmitdmsp').hide();
            $('#iddmsp').val('');
        });
        //Edit
        $(document).on('click', "button[name='update']", function () {
            let id = $(this).closest('tr').attr('id');
            Detail(id);
            $('#createdate').prop('readonly', true);
            $('#createby').prop('readonly', true);
            $('#modifiledate').prop('readonly', true);
            $('#modifileby').prop('readonly', true);
            $('#modalTitlecategory').text("Sửa Danh Mục Sản Phẩm");
            $('#btnSubmitdmsp').show();
            $('#iddmsp').val('');

        });
        //delete
        $(document).on('click', "button[name='delete']", function () {
            let id = $(this).closest('tr').attr('id');
            if (confirm("Bạn có muốn xóa dữ liệu này")) {
                $.ajax({
                    url: '/icts/categories/Delete',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            DanhMucSanPham(seach, page)
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        });
        function DanhMucSanPham(seach, page) {
            $.ajax({
                url: '/icts/categories/DanhMucSanPham',
                type: 'get',
                data: {
                    page: page,
                    seach: seach
                },
                success: function (data) {
                    $('.Category').empty();
                    if (data.code == 200) {
                        let table = '<thead>';
                        table += '<tr>';
                        table += '<th>Tên Danh Mục</th>';
                        table += '<th>Ngày tạo/sửa</th>';
                        table += '<th>Tạo/Sửa bởi</th>';
                        table += '<th>Ảnh</th>';
                        table += '<th>Trạng thái</th>';
                        table += '<th>Trạng Thái Hình Ảnh Giao Diện</th>';
                        table += '<th></th>';
                        table += '<th> <button class = "btn btn-xs btn-success" name = "add" > <i class="fa-solid fa-plus"></i></button >&nbsp</th>';
                        table += '</tr>';
                        table += '</thead>';
                        table += '<tbody>';
                        $.each(data.dmsp, function (k, v) {
                            table += '<tr id="' + v.id + '">';
                            table += '<td>' + v.name + '</td>';
                            table += '<td>' + v.createdate + '</td>';
                            table += '<td>' + v.createby + '</td>';
                            table += '<td><img style="width:100px" src="/Images/' + v.image + '"</td>';
                            table += '<td>' + v.status + '</td>';
                            table += '<td>' + v.statusimage + '</td>';
                            table += '<td> <button class = "btn btn-xs btn-primary" name = "view" > <i class="fa-thin fa-circle-info"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-warning" name = "update" > <i class="fa-thin fa-wrench"></i></button >&nbsp';
                            table += ' <button class = "btn btn-xs btn-danger" name = "delete" > <i class="fa-thin fa-trash-xmark"></i></button >&nbsp';
                            table += '</td>';
                            table += '<td></td>';
                            table += '</tr>';
                        });
                        table += '</tbody>';
                        $('.Category').append(table);
                        $('#categorypage').empty();
                        for (i = 1; i <= data.pages; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#categorypage').append(li);
                        }
                        let next = '<li class="page-item" id="' + (parseInt(page) + 1) + '"><a class="page-link" href="#">Next</a></li>';
                        $('#categorypage').append(next);
                        let li = $('#categorypage li#' + page + '');
                        $(li).addClass('active')
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function Detail(id) {
            $.ajax({
                url: '/icts/categories/Detail',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#iddmsp').val(data.tv.Id);
                        $('#namedmsp').val(data.tv.Name);
                        $('#urldmsp').val(data.tv.Meta);
                        $('#titledmsp').val(data.tv.Title);
                        $('#picturefile').val("/Images/" + data.tv.ImageId);
                        if (data.tv.Status == true) {
                            $('#statusdmsp').prop('checked', true);
                        } else {
                            $('#statusdmsp').prop('checked', false);
                        }
                        if (data.tv.StatusImage == true) {
                            $('#statusimagedmsp').prop('checked', true);
                        } else {
                            $('#statusimagedmsp').prop('checked', false);
                        }
                        $('#picture').attr('src', $('#picturefile').val())
                        $('#createdate').val(ConvertJsonDateString(data.tv.CreateDate));
                        $('#modifiledate').val(ConvertJsonDateString(data.tv.ModifileDate));
                        $('#createby').val(data.tv.CreateBy);
                        $('#modifileby').val(data.tv.ModifileBy);

                        $('#modalTitlecategory').text("Chi Tiết Danh Mục");
                        $('#dmsp').modal();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function Add() {
            $.ajax({
                url: '/adminsss/Add',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#createdate').val(ConvertJsonDateString(data.date));
                        $('#createby').val(data.d);
                        $('#modalTitlecategory').text("Thêm Danh Mục Sản Phẩm");
                        $('#dmsp').modal();
                    }
                }
            });
        }
        //convert date string
        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                shortDate = monthString + '/' + dayString + '/' + year;
            }
            return shortDate;
        };
        $(document).ready(function () {
            $('.summernote').summernote();
            DanhMucSanPham(seach, page)
            document.getElementById("trangchu").style.visibility = "hidden";
            document.getElementById("giaiphap").style.visibility = "hidden";
            document.getElementById("sanpham").style.visibility = "visible";
        });
    </script>
}