
@{
    ViewBag.Title = "Liên Hệ Với Hà Phan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="position:relative" id="w-hv" class="home-backround">

    <div class="row contact">
        <div class="col-sm-6 contactform">
            <h1 class="LHVCT">Liên Hệ Với Chúng Tôi</h1>
            <div id="content">
                <h1>Contact</h1>
                <p>
                    <label for="username" class="icon-user">
                        Tên
                        <span class="required">*</span>
                    </label>
                    <input type="text" name="username" id="namecontact" required="required" placeholder="Tên" />
                </p>
                <p>
                    <label class="icon-envelope">
                        Số Điện Thoại
                        <span class="required">*</span>
                    </label>
                    <input type="text" id="phonecontact" placeholder="Số Điện Thoại" required="required" />
                </p>
                <p>
                    <label for="usermail" class="icon-envelope">
                        E-mail
                        <span class="required">*</span>
                    </label>
                    <input type="email" id="emailcontact" placeholder="Nhập Email" required="required" />
                </p>
                <p>
                    <label class="icon-envelope">
                        Tên DN
                        <span class="required">*</span>
                    </label>
                    <input type="text" id="enterprisecontact" placeholder="Tên Doanh Nghiệp" required="required" />
                </p>
                <input hidden id="idproduct" value="" />
                <p>
                    <label class="icon-envelope">
                        Nội Dung
                        <span class="required">*</span>
                    </label>
                    <textarea type="text" id="deccontact" placeholder="Nội Dung" required="required"></textarea>
                </p>
                <button type="submit" class="btn btn-primary" id="btnsubmitcontact">Gửi Liên Hệ</button>
            </div>
        </div>
        <div class="col-sm-6 contactdec">
            <h1 class="contacttt">Thông tin thêm:</h1>
            <p>
                Nếu trong trường hợp khẩn cấp bạn hãy
                liên hệ với Hà Phan theo số điện thoại:
                CSKH - <span id="cskhcontact"></span> ; Kỹ Thuật -
                <span id="kt"></span>. Mọi nỗ lực sẽ được thực
                hiện để trả lời các vấn đề của khách
                hàng trong cùng ngày; tuy nhiên, thời
                gian trả lời có thể từ 1 đến 2 ngày làm
                việc.
            </p>
            <h1>Địa Chỉ:</h1>
            <p>
                Trụ sở - Hồ Chí Minh <a style="color:#00b1ff" name="maphcm">(Click xem map)</a>
                <span id="tphcm"></span>
            </p>
            <p>
                Văn phòng Hà Nội <a style="color:#00b1ff" name="maphn">(Click xem map)</a>
                <span id="hn"></span>
            </p>
            <h1>Điện thoại</h1>
            <p>Hồ Chí Minh <span id="phonehcm"></span></p>
            <p>Hà Nội - <span id="phonehn"></span></p>
            <p>Email: <span id="email"></span></p>
            <h1> Giờ hoạt động:</h1>
            <p> Thứ 2 đến thứ 6: 8:00 - 17:00</p>
            <p>Thứ 7: 8:00 - 12:00</p>
        </div>
    </div>
    <div class="video">
        <video id="myVideo" width="800" height="200" controls>
        </video>
    </div>
</div>
<div id="modalMAP2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitle"></div>
                <div class="MAP2" id="googleMap2" style="width:100%;height:400px;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9848127834407!2d105.80020251535427!3d20.993245894364684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbe8bfa4e5b%3A0x1a467b0c80d846da!2sZen%20Tower!5e0!3m2!1svi!2s!4v1655705974386!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>            </div>
        </div>
    </div>
</div>
<div id="modalMAP" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div style="color: red; text-align: center" class="panel-heading" id="modalTitle"></div>
                <div class="MAP" id="googleMap" style="width:100%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0230117213705!2d106.71634610524987!3d10.809549276916163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3f763fc987%3A0x96f1e6257cd5cf56!2zQ8O0bmcgdHkgQ-G7lSBQaOG6p24gVGjGsMahbmcgTeG6oWkgSMOgIFBoYW4gKEhhUGhhbiBKU0Mp!5e0!3m2!1svi!2s!4v1655700857683!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        //cskh
        $.ajax({
            url: '/contact/CSKH/',
            type: 'get',
            success: function (data) {
                $('#cskhcontact').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.phone + '';
                        $('#cskhcontact').append(span);
                    });
                }
            }
        });
        //kt
        $.ajax({
            url: '/contact/KT/',
            type: 'get',
            success: function (data) {
                $('#kt').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.phone + '';
                        $('#kt').append(span);
                    });
                }
            }
        });
        //phonetphcm
        $.ajax({
            url: '/contact/PhoneHCM/',
            type: 'get',
            success: function (data) {
                $('#phonehcm').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.phone + '';
                        $('#phonehcm').append(span);
                    });
                }
            }
        });
        //phonehn
        $.ajax({
            url: '/contact/PhoneHN/',
            type: 'get',
            success: function (data) {
                $('#phonehn').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.phone + '';
                        $('#phonehn').append(span);
                    });
                }
            }
        });
        //tphcm
        $.ajax({
            url: '/contact/TPHCM/',
            type: 'get',
            success: function (data) {
                $('#tphcm').empty();
                $('#email').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.address + '';
                        let spans = '' + v.email + '';
                        $('#tphcm').append(span);
                        $('#email').append(spans);
                    });
                }
            }
        });
        //hn
        $.ajax({
            url: '/contact/HN/',
            type: 'get',
            success: function (data) {
                $('#hn').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '' + v.address + '';
                        $('#hn').append(span);
                    });
                }
            }
        });
        //video
        $.ajax({
            url: '/contact/Video/',
            type: 'get',
            success: function (data) {
                $('#myVideo').empty();
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        let span = '<source src="/Images/' + v.video + '" title="' + v.title + '" type="video/mp4">';
                        $('#myVideo').append(span);
                    });
                }
            }
        });
        //confirm add
        $('#btnsubmitcontact').click(function () {
            let name = $('#namecontact').val().trim();
            let phone = $('#phonecontact').val().trim();
            let email = $('#emailcontact').val().trim();
            let enterprise = $('#enterprisecontact').val().trim();
            let dec = $('#deccontact').val().trim();
            let id = $('#idproduct').val().trim();
            var isphone = /^[+]?(1\-|1\s|1|\d{3}\-|\d{3}\s|)?((\(\d{3}\))|\d{3})(\-|\s)?(\d{3})(\-|\s)?(\d{4})$/g.test(phone);
            if (isphone == false) {
                alert("Hãy Nhập Đúng Định Dạng Số Điện Thoại")
                return;
            }
            if (validateEmail(email) == false) {
                return;
            }
            //rang buộc dữ liệu
            if (name.length == 0) {
                alert('Vui Long Nhập Tên');
                return;
            }
            $.ajax({
                url: '/contact/Add',
                type: 'post',
                data: {
                    name: name,
                    phone: phone,
                    email: email,
                    id: id,
                    amount: 0,
                    enterprise: enterprise,
                    dec: dec
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#namecontact').val('');
                        $('#phonecontact').val('');
                        $('#emailcontact').val('');
                        $('#amountcontact').val('');
                        $('#enterprisecontact').val('');
                        $('#deccontact').val('');
                        alert("Chào anh " + name + " : Anh sẽ được báo giá về sản phẩm này trong thời gian ngắn")
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        });
        //idproduct
        $.ajax({
            url: '/contact/IdProduct/',
            type: 'get',
            success: function (data) {
                if (data.code == 200) {
                    $.each(data.a, function (k, v) {
                        $('#idproduct').val(v.id);
                    });
                }
            }
        });
        //map
        $(document).on('click', "a[name='maphcm']", function () {
            $('.MAP').css("display", "block")
            $('.MAP iframe').css("width", "100%")
            $('.MAP2').css("display", "none")
            $('#modalMAP').modal();
        })
        $(document).on('click', "a[name='maphn']", function () {
            $('.MAP2').css("display", "block")
            $('.MAP').css("display", "none")
            $('#modalMAP2').modal();
            $('.MAP2 iframe').css("width", "100%")
        })


    </script>

}