@model IEnumerable<ICTS.com.Models.Slider>
@{
    ViewBag.Title = "";
}
<div class="home-backround">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div id="slidehome" class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/05052022114041_39.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/29462021094637394_46.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/29462021094649875_3.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <div class="h-product-wp">
        <div style="text-align:center" class="h-product-block ">
            <ul id="imgcategory" class="home-imageproduct">
            </ul>
        </div>
        <div class="title-big  wow fadeInUp animated">
            <div id="h1why">
            </div>
            <div id="pwhy">
            </div>
        </div>
    </div>
    <div class="h-product-wp">
        <div style="text-align:center" class="h-product-block ">
            <ul id="imgservice" class="home-imageproduct">
            </ul>
        </div>
    </div>
    <div class="slider">
        <div id="partner" class="slide-track">
        </div>
    </div>
    <div style="padding:3%;margin-top:1%" class="title-big  wow fadeInUp animated">
        <div id="partnercontent">
        </div>
    </div>
    <div class="h-product-wp">
        <div style="text-align:center" class="h-product-block ">
            <ul id="imgsolution" class="home-imageproduct">
            </ul>
        </div>
    </div>
    <div class="h-product-wp">
        <div style="text-align:center" class="h-product-block ">
            <ul id="imgpromotion" class="home-imageproduct">
            </ul>
        </div>
    </div>
    <div style="padding:3%;margin-top:1%" class="title-big  wow fadeInUp animated">
        <div id="kmcontent">
        </div>
    </div>
    <div class="h-product-wp">
        <div style="text-align:center" class="h-product-block ">
            <ul id="imgcustomer" class="home-imageproduct">
            </ul>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            ImgCategory();
            Why();
            Partner();
            PartnerContent();
            Solution();
            Service();
            KmContent();
            Promotion();
            Customer();
        });
        function ImgCategory() {
            $.ajax({
                url: '/home/DanhMucTheoAnh',
                type: 'get',
                success: function (data) {
                    $('#imgcategory').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let div = '<li>'
                            div += ' <div class="h-product-item">'
                            div += ' <div  class="h-product-item-img wow fadeInDown animated perspective">';
                            div += '<a href="/san-pham/" class="image-product image-product-3d image-product-3da">';
                            div += '<img src="/Images/' + v.image + '" title="' + v.title + '" />';
                            div += '</a>';
                            div += '</div>';
                            div += '</div>';
                            div += '</li>';
                            $('#imgcategory').append(div);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Why() {
            $.ajax({
                url: '/home/Why',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.w, function (k, v) {
                            $('#h1why').empty();
                            let h1 = '<h1 id="' + v.id + '">';
                            h1 += '' + v.name + '';
                            h1 += '</h1>';
                            $('#h1why').append(h1);
                            $('#pwhy').empty();
                            let p = ''+v.content+'';
                            $('#pwhy').append(p);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Partner() {
            $.ajax({
                url: '/partner/Partner',
                type: 'get',
                success: function (data) {
                    $('#partner').empty();
                    if (data.code == 200) {
                        for (let i = 1; i <= 2; i++) {
                            $.each(data.pn, function (k, v) {
                                let div = ' <div class="slide">';
                                div += '<a target="_blank" href="' + v.link + '">'
                                div += ' <img src="/Images/' + v.image + '" height="100" width="250" alt="' + v.title + '" />'
                                div += '</a>';
                                div += '</div>';
                                $('#partner').append(div);
                            });
                        }
                      

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function PartnerContent() {
            $.ajax({
                url: '/home/PartnerContent',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#partnercontent').empty();
                        $.each(data.w, function (k, v) {
                            let p = '' + v.content + ''
                            $('#partnercontent').append(p);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Solution() {
            $.ajax({
                url: '/home/Solution',
                type: 'get',
                success: function (data) {
                    $('#imgsolution').empty();
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            let div = '<li class="">'
                            div += ' <div class="h-product-item">'
                            div += ' <div id="' + v.id + '" class="h-product-item-img wow fadeInRight animated perspective">';
                            div += '<a href="" name="a" class="image-product image-product-3d image-product-3da">';
                            div += '<img class="" src="/Images/' + v.image + '" title="' + v.title + '" />';
                            div += '</a>';
                            div += '</div>';
                            div += '</div>';
                            div += '</li>';
                            $('#imgsolution').append(div);
                        });
                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Service() {
            $.ajax({
                url: '/service/ServiceImage',
                type: 'get',
                success: function (data) {
                    $('#imgservice').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let div = '<li class="servicemg">'
                            div += ' <div class="h-product-item">'
                            div += ' <div id="' + v.id + '" class="h-product-item-img wow fadeInDown animated ">';
                            div += '<a id="' + v.id + '" href="" name="aservice" class="image-product image-product-3d image-product-3da">';
                            div += '<img class="" src="/Images/' + v.image + '" title="' + v.title + '" />';
                            div += '</a>';
                            div += '</div>';
                            div += '</div>';
                            div += '</li>';
                            $('#imgservice').append(div);
                        });
                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function KmContent() {
            $.ajax({
                url: '/home/KmContent',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#kmcontent').empty();
                        $.each(data.w, function (k, v) {
                            let p = '' + v.content + ''
                            $('#kmcontent').append(p);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Promotion() {
            $.ajax({
                url: '/promotions/PromotionImg',
                type: 'get',
                success: function (data) {
                    $('#imgpromotion').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let div = '<li>'
                            div += ' <div class="h-product-item">'
                            div += ' <div  class="h-product-item-img wow fadeInLeft animated perspective">';
                            div += '<a href="" class="image-product image-product-3d image-product-3da">';
                            div += '<img src="/Images/' + v.image + '" title="' + v.title + '" />';
                            div += '</a>';
                            div += '</div>';
                            div += '</div>';
                            div += '</li>';
                            $('#imgpromotion').append(div);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        function Customer() {
            $.ajax({
                url: '/customer/CustomerImg',
                type: 'get',
                success: function (data) {
                    $('#imgcustomer').empty();
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            let div = '<li class="servicemg">'
                            div += ' <div class="h-product-item">'
                            div += ' <div  class="h-product-item-img wow fadeInLeft animated perspective">';
                            div += '<a href="" class="image-product image-product-3d image-product-3da">';
                            div += '<img src="/Images/' + v.image + '" title="' + v.title + '" />';
                            div += '</a>';
                            div += '</div>';
                            div += '</div>';
                            div += '</li>';
                            $('#imgcustomer').append(div);
                        });

                    } else {
                        alert(data.msg)
                    }
                }
            });
        }
        //link service
        $(document).on('click', "a[name='aservice']", function () {
            let idservice = $(this).closest('a').attr('id');
            $.ajax({
                url: '/service/ServiceDetail',
                type: 'get',
                data: {
                    id: idservice
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.dmsp, function (k, v) {
                            location.href = data.Url + v.meta + "/" + v.id;
                        })
                    }
                }
            });
        })
        /* --------------addlink-----------*/
        $(document).on('click', "a[name='a']", function () {
            let id = $(this).closest('div').attr('id')
            $.ajax({
                url: '/solutionhome/DetailSolution',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.left, function (k, v) {
                            window.location.href = data.Url + v.meta + "/" + + v.id
                        })

                    }
                }
            })
        })

    </script>
}  